[2016-06-27 21:03] irwineffect opened #48 "Accelerate Matlab JSON Parsing"
Our current method of parsing JSON messages in Matlab is a major bottleneck, this needs to be sped up. One idea for doing this is to replace the [loadjson_abg](https://github.com/PalouseRobosub/robosub/blob/dev/src/utility/matlab_functions/loadjson_abg.m)  Matlab function with C++ code via a mex file. This new function (tentatively named loadjson_mex) will parse a JSON string and return a Matlab-s

[2016-06-27 21:04] irwineffect commented on #48
0b0a9e4a1951abf4a5af9cce2845ea175984ea84 started working on this

[2016-06-29 04:48] irwineffect commented on #48
ee1af81 Things are starting to come together, I've got a function now that will take in an input JSON string and it's returning a proper matlab struct. It only supports parsing a list of numbers at the moment, but adding support for new types should be pretty easy. Next step is to add compilation of mex files into the build system.

[2016-07-01 04:04] irwineffect commented on #48
PR #49 is out for review!

[2016-07-09 21:38] #48 closed

[2016-07-11 05:41] irwineffect opened #50 "Thruster Module Reading Sensors"
- [x] do timing calculations to confirm feasibility of request/response method
- [x] update ThrusterGroup class for sensor reading ability
- [x] add sensor reading to ThrusterBlueESCModule
- [x] add sensor publishing to ThrusterBlueESCModule

[2016-07-11 05:45] irwineffect opened #51 "Control module Dynamic Thrusters"
- [x] Dynamic loading from settings file
- [x] Move thrusters out to own settings file
- [x] Test!

[2016-07-11 05:49] irwineffect opened #52 "Cmake Build Types"
- [ ] option to do release build

[2016-07-11 05:58] bkallaher opened #53 "Mission Tree Parser"
Develop a method for generating Mission code based on some kind of DOM.
- [ ] DOM parsing
- [ ] Code Generation
- [ ] GUI: for building the tree

[2016-07-18 20:44] irwineffect opened #54 "Research FTDI serial interface"
## Background

Currently we use the generic VCP interface/drivers to communicate with our FTDI chips. However, FTDI has a specialized driver and associated programming interface for their chips. This has the potential to be more efficient and lower latency than our current implementation. In addition, some of our FTDI chips can speak I2C natively, which may eliminate the need for some of our micro

[2016-07-19 03:52] #51 closed

[2016-07-19 06:05] bkallaher commented on #54
Another option is to use the fast serial mode described on page 20 (more detail on page 39) , i2c,  jtag and others are described briefly on page 19 and in detail on page 37: http://www.ftdichip.com/Support/Documents/DataSheets/ICs/DS_FT232H.pdf

[2016-07-19 06:14] bkallaher commented on #54
If we use the ft260 we can get both UART and i2c at the same time. UART is up to 12Mbaud and i2c is up to 3.4Mbaud!

[2016-07-20 05:49] bkallaher opened #57 "New Sub Verification"
We need to verify that all systems are fully operational.
- [ ] Thrusters
- [ ]  Sensors
- [ ]  Cameras
- [ ]  Power
- [ ]  Hydrophones

[2016-07-21 02:27] SilentStrike opened #58 "Blue Thruster Linearization"
We need to create a serialization interface for loading thruster linearization coefficients for the new thrusters.  This will take some ad-hoc testing, but you can use the spec power graphs as a baseline.

[2016-07-21 02:28] SilentStrike opened #59 "Blue Thruster Simulation"
Once we test the new thrusters we need to modify the simulator thruster code to mimic the specs of the thrusters including thruster delay, noise, ramp time, and power output.

[2016-07-21 03:04] SilentStrike commented on #60
This would involve a lot of complex features, frameworks, and interaction with the current software and would be a good year-long project for senior design or an ambitious subteam.  The simulator would need scripts or an existing plugin to detect states of the mission that the AI won't know about such as absolute position, contact, submarine dynamics, and proximity.  The system will also need a wa

[2016-07-24 04:25] SilentStrike commented on #62
The only GUI that needs to run locally is helm because it accesses shared memory.  Why rewrite a tool when it already works just fine?  Qt can fit fin, you just need to setup layouts properly.

[2016-07-25 06:46] irwineffect commented on #50
Should take < 10ms to read all the sensors, should have no issues running 10-20 Hz.

[2016-07-26 07:04] irwineffect commented on #58
If I understand correctly, this already exists, see https://github.com/PalouseRobosub/robosub/blob/dev/src/movement/ThrusterBlueESC.cpp#L169

[2016-08-03 23:31] irwineffect commented on #50
Functionality is no longer needed, as we are moving away from the BlueESCs.

[2016-08-03 23:31] #50 closed

[2016-08-17 03:15] irwineffect opened #65 "Integrate ROS Build System"
Need to do research on how to best organize and switch over our build system to integrate with the way ROS uses Cmake via catkin_make.

[2016-09-10 16:55] irwineffect opened #1 "Investigate ROS and Forking"
The vision system currently forks a bunch of processes for doing individual vision processing tasks. Some research needs to be done to determine if this could cause any issues with the ROS framework, and develop a suitable workaround if necessary.

[2016-09-10 16:56] irwineffect opened #2 "Convert Control Module to ROS Node"
Port over the control system code to the ROS framework.
### Inputs

**ros topic:** control   **msg type**: [robosub/control](https://github.com/PalouseRobosub/robosub/blob/dev/msg/control.msg)
**ros topic:** orientation   **msg type**: [geometry_msgs/Quaternion](http://docs.ros.org/api/geometry_msgs/html/msg/Quaternion.html)
### Outputs

**ros topic:** thruster     **msg type**: [robosub/thruster]

[2016-09-10 17:00] irwineffect opened #3 "Investigate Dynamic Parameters"
ROS has a framework for dynamically reloading parameters, which would be useful for several nodes on the sub, including tuning PID parameters. This task is to learn how dynamic parameters work and to create an example node demonstrating how to use them.

Starting point: http://wiki.ros.org/dynamic_reconfigure/Tutorials

[2016-09-10 22:57] irwineffect opened #4 "Convert Joystick Module to ROS Node"
We need a ROS node for reading the status of the joystick and publishing the data in ROS. We also need a node that will accept this joystick status as input and send output to the control system
- [x] Joystick Driver Node
- [x] Joystick to Control System Node
## Joystick Driver Node
### Inputs

use the linux joystick drivers to interface with our joystick
### Outputs

**ros topic:** joystick   **m

[2016-09-10 22:57] irwineffect opened #5 "Write Thruster ROS Node"
A ROS node needs to be created that accepts thruster messages and controls the thrusters.
### Inputs

**ros topic:** thruster     **msg type**: [robosub/thruster](https://github.com/PalouseRobosub/robosub/blob/dev/msg/thruster.msg)
Note that this message is of an array type, so this module should be able to still work if the number of thrusters change.
### Outputs

Serial (UART) interface with the

[2016-09-10 22:57] irwineffect opened #6 "Write Sensor ROS Nodes Framework"
Several ROS nodes need to be created that talk to the sensors and reports our current orientation. We will need one node for each of the sensor models we have (see EE team for details). This task is just to create the basic framework of a ROS node for each sensor, specifics will be in a future task.
### Inputs

Serial communication with our sensors. Exact protocol is dependent on the sensor(s) cho

[2016-09-10 22:59] irwineffect opened #7 "Convert Messages to ROS Messages"

[2016-09-10 22:59] irwineffect opened #8 "Write Sensor Trim Service"
When this service is executed, it should take the current pitch, roll, yaw and set them to be the bias values, so that the current pitch, roll, yaw values are read as 0, 0, 0. The BNO055 imu node should implement this service.

[2016-09-10 23:02] irwineffect opened #9 "Write UPS ROS Node"
A ROS node needs to be created that interfaces with our UPS, and publishes the data over ROS.
### Inputs

Use the NUT UPS driver to interface with our UPS
### Outputs

**ros topic:** power/ups     **msg type**: [sensor_msgs/BatteryState](http://docs.ros.org/api/sensor_msgs/html/msg/BatteryState.html)

Fill out as many fields of the BatteryState message as possible.

[2016-09-10 23:07] irwineffect opened #10 "Convert Arbitrary Messenger to ROS"
Initially this will just be a normal Qt application. This just involves importing ROS and converting the sending of messages.

Eventually the messenger will be converted to a rqt plugin. This is a rework of the whole GUI. Currently LOW priority

[2016-09-11 18:42] bkallaher commented on #9
Might consider using the BatteryState message: http://docs.ros.org/api/sensor_msgs/html/msg/BatteryState.html

[2016-09-12 16:27] bkallaher commented on #10
rqt already has a builtin plugin for this called Message Publisher.

[2016-09-12 16:27] #10 closed, assigned to bkallaher

[2016-09-12 21:12] irwineffect opened #12 "Write Movement Launchfiles"
Launchfiles need to be written for launching up our nodes. This task is to write several launchfiles that will launch the corresponding nodes, and load the necessary settings files.
- [x] movement.launch
  - thruster node
  - control node
  - imu node
  - depth node
- [x] joystick.launch
  - joystick node
  - joystick_control node
- [x] joystick_control.launch
  - movement.launch
  - joystick.laun

[2016-09-12 23:25] irwineffect commented on #9
Agreed. Issue description updated accordingly

[2016-09-12 23:48] bkallaher opened #13 "RQt Perspectives"
Look into creating different RQt perspectives to replace the old GUIs (messenger, helm).
### File locations

Save the perspective files in the [tools/rqt_perspectives/](https://github.com/PalouseRobosub/robosub/tree/dev/tools/rqt_perspectives) folder.
### Desired Perspectives
- [ ] Helm
- [x] Debug
- [ ] Navigation
- [ ] Control
- [ ] Control System Tuning

Helpful Link: https://www.clearpathrobot

[2016-09-12 23:52] bkallaher commented on #12
Some helpful links:
- http://wiki.ros.org/roslaunch/XML
- https://www.clearpathrobotics.com/assets/guides/ros/Launch%20Files.html
- http://wiki.ros.org/roslaunch

[2016-09-13 03:07] bkallaher commented on #13
Packages related to rqt:
ros-indigo-rqt
ros-indigo-rqt-common-plugins
ros-indigo-rqt-robot-plugins

[2016-09-13 06:23] skallaher commented on #9
I was thinking about adding in some features similar to what already exists in upsc, upssched and upsmon with ROS integration. I've made an incomplete UML diagram of what I'm sort of thinking.
![upsnodeuml_incomplete](https://cloud.githubusercontent.com/assets/6586913/18463488/6c7a63c4-793f-11e6-8ca3-3fcf73e9f004.PNG)

@irwineffect, any thoughts? The general idea is that the node would be able to

[2016-09-13 19:07] irwineffect commented on #9
I'll admit I don't really know how to read UML diagrams, let's talk about it in the lab.

[2016-09-15 21:19] #7 closed, assigned to nobody

[2016-09-15 21:20] bkallaher commented on #7
Each node should create the required message.

[2016-09-16 01:02] ryan-summers opened #17 "Create MSP430FR5969 Hardware for RosSerial"
Because of the new transition to ROS, we have opened up new opportunities for microcontrollers to behave similarly to ROS nodes. RosSerial provides a simple interface for performing this functionality and will reduce development overhead by removing the need to define custom packet specifications. Instead, the standard ROS serialization of messages can be used for continuity between the different

[2016-09-16 04:26] gaofangfrank commented on #5
Hi this is Frank from the electrical team. I'm going to try to write a class

[code]

[2016-09-16 20:45] irwineffect commented on #12
I've created an example launch file for you, take a look at [launch/example.launch](https://github.com/PalouseRobosub/robosub/blob/dev/launch/example.launch)

[2016-09-16 20:50] irwineffect commented on #17
Closing this issue, we're going to use arduino for the time being.

[2016-09-16 20:50] #17 closed, assigned to ryan-summers

[2016-09-16 23:34] bkallaher commented on #13
Debug Perspective Created and merged into dev.

[2016-09-17 00:27] skallaher commented on #1
This article may be helpful:
http://wiki.ros.org/rosspawn

Currently it is a proof of concept implementation intended to be a smaller more narrow use case of roslaunch. The article explains this much better.

[2016-09-17 00:40] skallaher opened #19 "Create Project Code Standards"
Some documentation on any relevant coding standards, perhaps including things like tabs vs spaces and variable naming.
### Location

This should be on the wiki.
### TODO
- [ ] Variable naming
- [ ] File naming
- [ ] Directory scheme
  - Where to find files for specific uses
- [ ] Whitespace
- [ ] Script tool list/descriptions

[2016-09-18 20:53] #4 closed, assigned to dcrossman

[2016-09-19 01:11] irwineffect commented on #1
I'm not sure if rosspawn solves the particular problem presented we have here. We want to use fork so that we don't need to redo current vision code. But yeah rosspawn may work as a substitute if necessary.

[2016-09-19 19:27] irwineffect commented on #1
I did some messing around with forking, it looks like everything plays nicely together, no issues with duplicate nodes or topic messages getting rerouted to the child process. Converting the vision module therefore should be straightforward. Take a look at the fork_parent and fork_child nodes in the example folder: https://github.com/PalouseRobosub/robosub/tree/392de7ec3e7263b10c488102561a9426e9ac

[2016-09-19 19:27] #1 closed, assigned to irwineffect

[2016-09-19 23:11] irwineffect commented on #3
So, I just discovered this: http://wiki.ros.org/roscpp/Overview/Parameter%20Server#Cached_Parameters

Normally, getting a value from the parameter server takes about 2 ms, using the cached version of the call takes about 33us.

We may still want the dynamic reconfigure for the PID, we'll have to see.

Sean, once you've pushed your example code and are merged into dev we can close out this issue.

[2016-09-20 01:34] skallaher commented on #3
@irwineffect, I guess I didn't really clear up what your use case was for these features. I don't understand quite all of the ins and outs of Cached Parameters, but from what I gathered asking @bkallaher, they can't dump to a file which I would think to be useful with pool testing. If you could clarify what you were thinking of using these for, that would be great.

[2016-09-22 01:09] irwineffect commented on #3
kk sounds good

[2016-09-22 01:09] #3 closed, assigned to skallaher

[2016-09-23 21:25] irwineffect opened #25 "Complete BNO055 Sensor Node"

[2016-09-23 21:25] irwineffect opened #26 "Complete Sabertooth Thruster Node"
Datasheet:
https://www.dimensionengineering.com/datasheets/Sabertooth2x12.pdf

We're using Mode 4: Packetized Serial Mode

[2016-09-23 21:26] irwineffect opened #27 "Maestro Thruster Node"
**Node Name:** thruster
### Inputs

**topic:** thruster    **msg type:**  [robosub/thruster](https://github.com/PalouseRobosub/robosub/blob/dev/msg/thruster.msg)
### Outputs

Serial interface to Maestro motor controller

[2016-09-23 21:29] skallaher commented on #9
For future reference, these are useful links:

[NUT ups.status possible values](http://networkupstools.org/docs/developer-guide.chunked/ar01s04.html)
[NUT variable list](http://networkupstools.org/docs/user-manual.chunked/apcs01.html)

[2016-09-23 21:50] #9 closed, assigned to skallaher

[2016-09-23 22:10] irwineffect opened #29 "Trax Sensor Node"
**Node Name:** trax_sensor
### Inputs

Serial interface to the Trax sensor
### Outputs

**topic:** orientation    **msg type:**  [geometry_msgs/Quaternion](http://docs.ros.org/api/geometry_msgs/html/msg/Quaternion.html)
**topic:** raw_sensors/accelerometer    **msg type:**  [geometry_msgs/Vector3](http://docs.ros.org/api/geometry_msgs/html/msg/Vector3.html)
**topic:** raw_sensors/gyroscope    **ms

[2016-09-23 22:10] irwineffect opened #30 "UM7 Sensor Node"
**Node Name:** um7_sensor
### Inputs

Serial interface to the UM7 sensor
### Outputs

**topic:** orientation    **msg type:**  [geometry_msgs/Quaternion](http://docs.ros.org/api/geometry_msgs/html/msg/Quaternion.html)
**topic:** raw_sensors/accelerometer    **msg type:**  [geometry_msgs/Vector3](http://docs.ros.org/api/geometry_msgs/html/msg/Vector3.html)
**topic:** raw_sensors/gyroscope    **msg

[2016-09-23 22:11] irwineffect opened #31 "Unit Test for Maestro Thruster Node"

[2016-09-23 22:11] irwineffect opened #32 "Unit Test for Sabertooth Thruster Node"

[2016-09-23 23:32] #12 closed, assigned to adolfogarcia

[2016-09-23 23:33] #5 closed, assigned to WanderAway, apersonnamedmichelle, daniezimmer

[2016-09-24 20:17] skallaher opened #33 "Unity-ROS Bridge"

[2016-09-24 20:20] skallaher opened #34 "Simulator Sensor Conversion to ROS"

[2016-09-24 20:32] irwineffect opened #35 "Unit Test for Control Module"

[2016-09-24 21:07] skallaher opened #36 "Convert old Sensor Module to ROS ControlSystem"
Legacy code (in Matlab): [Sensor Module](https://github.com/PalouseRobosub/robosub_legacy/blob/dev/src/modules/SensorModule.m)

New ControlSystem (in C++): [Control System](https://github.com/PalouseRobosub/robosub/blob/bevans/control/src/movement/control_system.cpp)

[2016-09-24 21:21] irwineffect opened #37 "Depth Sensor Node"
An Arduino node needs to be written and tested for reading the I2C depths sensors that are on Cobalt. Node name should be 'depth_sensor' and should publish messages to the 'depth' topic.

[2016-09-24 21:35] bkallaher commented on #31
https://www.pololu.com/docs/0J40

[2016-09-27 22:07] skallaher commented on #6
Peter,
       Could you elaborate on why you are impeded so that others can give you some assistance.

[2016-09-27 22:43] brennanpeter commented on #6
I think I know how to find what types of variables and analyze the data sheet but I have no idea how to code the node in practice. Jame's tutorials helped me understand the conceptual parts of what I need to do but my lack of experience with using ROS, github and c++ has left me pretty lost on how to actually code it

[2016-09-29 00:49] #36 closed, assigned to nobody

[2016-10-10 17:45] irwineffect commented on #26
This issue is complete!

[2016-10-10 17:45] #26 closed, assigned to lucy9tran, apersonnamedmichelle

[2016-10-10 17:52] irwineffect commented on #2
Done!

[2016-10-10 17:52] #2 closed, assigned to irwineffect, dcrossman, bevans2

[2016-10-10 17:52] irwineffect commented on #25
Done!

[2016-10-10 17:52] #25 closed, assigned to AtomicCharge

[2016-10-10 17:57] irwineffect opened #40 "Sabertooth Thruster Safety Fixes"
- [x] Configure the sabertooth motor driver for hardware timeout
- [x] Make node send zeros if it hasn't received a thruster command within Y seconds (use parameter and ROS::timer()).
- [x] Make node send zeros to thrusters when node exits

[2016-10-11 00:33] #6 closed, assigned to brennanpeter

[2016-10-12 00:25] irwineffect opened #42 "Control System Plotter"
We need a tool for visualizing the current state of the control system (PID values, integral windups, goals, goal states, etc). This should be an RQT plugin. Discussion is needed for how to display information and exactly what information needs to be displayed.

[2016-10-12 00:25] irwineffect opened #43 "Histogram Tool"
We want a tool that will listen to any arbitrary topic, collect messages received on the topic, then plot a histogram of the datapoints received. For starters, just write a regular node that will produce a plot via matplotlib. Later, we'll want a proper rqt plugin.

[2016-10-12 20:54] irwineffect commented on #29
@ryan-summers: need connector for sensor.

[2016-10-12 21:15] irwineffect commented on #34
Combining with #33

[2016-10-12 21:15] #34 closed, assigned to dcrossman, skallaher, bevans2

[2016-10-12 23:15] irwineffect opened #45 "Modify Joystick Reset Action"
The trigger of the joystick resets the yaw, pitch and roll goals of the submarine, making it go flat. However, resetting the yaw causes it to swerve around so its yaw is zero. We've decided we don't like this behavior, so we're going to eliminate the yaw reset.

[2016-10-19 01:27] skallaher commented on #8
I am in need of a build test of the BNO arduino code with the added changes to verify that it works as well as some code review on the BNO function calls.

Using "rosservice call /bno_trim_service" should execute the added changes and zero out the BNO.

[2016-10-19 01:43] skallaher commented on #42
Useful links:
http://wiki.ros.org/rqt/Tutorials/Create%20your%20new%20rqt%20plugin
http://wiki.ros.org/rqt/Tutorials/Writing%20a%20C%2B%2B%20Plugin

[2016-10-19 20:43] irwineffect commented on #8
We're currently working on integrating the compilation of Arduino code, I'm not a fan of the arduino-cmake system, looking into integrating with platformio.

[2016-10-19 20:51] irwineffect commented on #45
Relevant lines of code: https://github.com/PalouseRobosub/robosub/blob/dev/src/joystick/joystick_control.cpp#L86-L94

[2016-10-19 20:55] irwineffect opened #47 "Integrate microcontroller firmware into build system"
We want to be able to compile the microcontroller code when we compile all our other software. Ideally, it should also be simple to upload the software after compilation if desired.

Possible methods (feel free to explore others):
- [rosserial_arduino cmake integration](http://wiki.ros.org/rosserial_arduino/Tutorials/CMake)
- [platformio](http://platformio.org/)
- [custom use of arduino cmake](htt

[2016-10-22 21:03] apersonnamedmichelle commented on #27
While changes are being made to the maestro thruster class, is there anything I should do?

[2016-10-22 23:59] irwineffect commented on #50
closing this mock pull request.

[2016-10-23 19:29] AtomicCharge commented on #53
Implemented requested changes.

[2016-10-23 21:30] bkallaher commented on #48
Needs to be rebased

[2016-10-23 21:31] bkallaher commented on #51
Needs to be rebased

[2016-10-27 19:27] skallaher commented on #45
@irwineffect This has been merged into dev. Wanted to check with you as this issue looks like it is complete.

[2016-10-27 23:19] irwineffect commented on #45
yep yep!

[2016-10-27 23:19] #45 closed, assigned to courtney-snyder

[2016-10-27 23:20] irwineffect commented on #33
implemented by #51

[2016-10-27 23:20] #33 closed, assigned to dcrossman, skallaher, bevans2

[2016-10-27 23:23] irwineffect opened #55 "Camera Publisher Node"
We want a node that can read the cameras and publish to image topics. We can use existing code or write something ourselves.

[2016-10-28 01:02] irwineffect commented on #40
implemented by #48

[2016-10-28 01:02] #40 closed, assigned to lucy9tran

[2016-10-29 22:00] dcrossman commented on #57
We'll also need to add the
ros-indigo-image-transport
and probably the
ros-indigo-image-transport-plugins
packages to the robosub build.

[2016-10-31 05:53] skallaher commented on #55
http://wiki.ros.org/camera_calibration

This looks promising. It has mentions of stereo vision and chessboards. I'm looking into it and its integration with the pointgrey drivers.

[2016-11-01 00:49] irwineffect commented on #57
I added those two packages to our robosub package!

[2016-11-02 00:32] bkallaher commented on #59
Looks good.

[2016-11-02 00:36] skallaher commented on #53
@bkallaher mentioned adding I2C support. Would that be feasible?

[2016-11-03 15:43] ryan-summers opened #60 "Add"

[2016-11-03 15:47] ryan-summers opened #61 "Add Error Checking to MaestroThrusterController class"
The Pololu Maestro motor controller outputs certain errors when serial communication breaks down or motors appear unresponsive. These errors are persistent in microcontroller memory until read, and they result in a red light being displayed on the microcontroller.

Implement a method that periodically reads and records thruster controller error codes.
[code]

[2016-11-03 20:19] skallaher opened #62 "Write Primitive AI to follow and/or bump into a Buoy"
Using the results of image processing, center the sub on the buoy and possible approach it.

**Inputs:**
Location of a buoy in the reference of the cameras.
Topics: **/vision/buoy/(red | green | yellow)**
Message contents: An X,Y coordinate with the origin in the center of the vision and the percentage of the image taken up by the buoy to estimate distance. Message to be written.

**Outputs:**
Con

[2016-11-04 01:01] irwineffect commented on #60
@ryan-summers what's this for?

[2016-11-04 01:04] irwineffect commented on #60
this actually was meant to be #61, closing

[2016-11-04 01:04] #60 closed, assigned to nobody

[2016-11-04 01:05] irwineffect opened #63 "Gate Vision Processing"

[2016-11-04 01:05] irwineffect opened #64 "Buoy Vision Processing"

[2016-11-04 01:13] irwineffect commented on #61
I took a look at the possible error codes: https://www.pololu.com/docs/0J40/4.b

Most of them are basically "did a serial error occur?", which if serial errors are occurring we likely won't be able to talk to the maestro to get the error code anyway. The maestro doesn't have an error for non-responsive motor. Was there some other error you had in mind? If not, I don't see a strong need for this.

[2016-11-05 02:42] bkallaher commented on #65
Now publishing and reformatted in edd872e

[2016-11-05 03:57] irwineffect opened #66 "Simulator Image Publisher Memory Leak"
Looks like our image publisher node that grabs images from the simulator has a memory leak!

[2016-11-05 05:00] irwineffect opened #67 "Thruster Pretty Publisher Bug"
The subscriber callback is called before the publisher are initialized, resulting in the first callback crashing sometimes.

[2016-11-05 06:38] dcrossman commented on #66
:(

[2016-11-05 22:28] #67 closed, assigned to nobody

[2016-11-05 23:58] #55 closed, assigned to bevans2

[2016-11-06 04:49] irwineffect commented on #66
Fixed by b1da5ac

[2016-11-06 04:49] #66 closed, assigned to dcrossman

[2016-11-10 01:08] #27 closed, assigned to apersonnamedmichelle

[2016-11-10 01:10] #37 closed

[2016-11-10 01:17] irwineffect opened #72 "Rework UPS Node"
Make the UPS publish more stuffs!

[2016-11-10 01:19] #61 closed, assigned to nobody

[2016-11-10 01:26] irwineffect opened #73 "Fake Hydrophone Node"

[2016-11-13 21:24] irwineffect opened #76 "Unit Test for Buoy Task"

[2016-11-13 21:24] irwineffect opened #77 "Unit Test for Gate Task"

[2016-12-04 01:15] ryan-summers opened #85 "Update Control System"
The control system has a number of undocumented, odd additions to it that are unexplained. Correct any potential errors and clean up the class while providing comments.

[2016-12-04 01:28] ryan-summers opened #86 "Add Bno055 Driver"
Add a controlling class for the Bno055 sensor. This class should report the calibration status of all of the sensors within the BNO055 as well as overall system calibration, it should allow for the capture of all forms of data from the sensor including quaternions, euler, and raw accelerometer, magnometer, and gyroscope data, and it should allow for the selection of different power modes.

[2016-12-07 08:12] ryan-summers commented on #85
The pull request is currently in review: https://github.com/PalouseRobosub/robosub/pull/88

[2016-12-07 08:12] ryan-summers commented on #86
This change is currently awaiting approval: https://github.com/PalouseRobosub/robosub/pull/87

[2016-12-07 17:52] ryan-summers commented on #85
Completed as of https://github.com/PalouseRobosub/robosub/pull/88

[2016-12-07 17:52] #85 closed, assigned to nobody

[2016-12-07 23:57] ryan-summers opened #95 "Enable all warnings as errors in the compilation process"
Enable the following CMake options for turning on all warnings and setting all warnings to errors:
-Wall -Werror

Update any code that no longer compiles due to errors.

[2016-12-08 03:15] ryan-summers commented on #86
Completed as of https://github.com/PalouseRobosub/robosub/pull/87

[2016-12-08 03:15] #86 closed, assigned to nobody

[2016-12-08 03:16] ryan-summers commented on #95
In review: https://github.com/PalouseRobosub/robosub/pull/97

[2016-12-08 03:23] skallaher commented on #95
Closed by #97

[2016-12-08 03:23] #95 closed, assigned to nobody

[2016-12-08 19:10] bkallaher commented on #19
The linter has been implemented so as soon as the current code base gets cleaned up it will more strictly enforced.

[2016-12-08 19:10] #19 closed, assigned to irwineffect

[2016-12-08 20:58] skallaher opened #101 "Remove gazebo_msgs from CMakeLists.txt"
`gazebo_msgs` is listed as a dependency in CMakeLists, however, the robosub package no longer has ros-indigo-gazebo-msgs as a dependency. Therefore, the build does not work on systems that have not independently installed this package.

[2016-12-09 06:56] skallaher commented on #8
@irwineffect, I believe this was made obsolete by #87, is this correct?

[2016-12-09 06:58] skallaher commented on #32
This should be closed by #74.

[2016-12-09 06:58] #32 closed, assigned to omar-enrique

[2016-12-09 07:00] skallaher commented on #47
@irwineffect, is this necessary anymore after #87?

[2016-12-09 23:50] #101 closed, assigned to nobody

[2016-12-11 22:18] bkallaher commented on #72
@irwineffect I currently have added temperature, runtime, input voltage, and input current. I haven't tested to see if we get all of these through the NUT driver yet. Anything else seem useful? See the changes in commit 771b075.

[2016-12-11 23:01] bkallaher opened #110 "Test Stability Fix"
The tests don't seem to be consistently failing or passing. Find the root cause and patch.

[2016-12-12 20:38] bkallaher commented on #72
Available Variables from the UPS:
battery.capacity: 100
battery.charge: 50
battery.charge.low: 5
battery.charge.warning: 20
battery.current: 0.000
battery.mfr.date: ?
battery.runtime: 3932100
battery.temperature: 31.22
battery.type: ?
battery.voltage: 0.01
device.mfr: Mini-Box.Com
device.model: OPEN-UPS
device.serial: PBSO4-LiFePO
device.type: ups
driver.name: usbhid-ups
driver.parameter.pollfreq:

[2016-12-12 21:25] irwineffect commented on #72
Looks good! Idk if we need to publish the battery chemistry or the name, those are both constant values that I'm not sure if we really care about. So for the voltage variable, is that the voltage of the battery, or the output voltage going to the computer? Same for the current variable.

[2016-12-12 21:48] bkallaher commented on #72
The voltage and current are of the battery. If you want we can also get the output voltage and current. I'll also rename the voltage and current variables to something like voltageBattery and currentBattery.

[2016-12-12 22:23] bkallaher commented on #72
Also can you think of any special things that the main battery might give us that we would want to know (Once the new board is done)?

[2016-12-12 22:25] bkallaher commented on #72
I'm also going to add a pretty printer soon.

[2016-12-12 22:27] irwineffect commented on #72
The main battery also should give us individual cell voltages.

[2016-12-12 22:28] bkallaher commented on #72
I'll add in an array for cell voltages to the message.

[2016-12-12 22:29] #62 closed, assigned to apersonnamedmichelle, adolfogarcia, brennanpeter

[2016-12-12 22:31] irwineffect commented on #73
moved to the simulator: PalouseRobosub/robosub_simulator#8

[2016-12-12 22:31] #73 closed, assigned to irwineffect, brennanpeter

[2016-12-12 22:32] irwineffect commented on #8
@skallaher well, yes and no. No longer needed for the arduino node, but I think the new orientation node should implement this.
@ryan-summers, can we add this feature to our bno055 node? This is for zeroing out tiny offsets in the mounting.

[2016-12-12 22:44] ryan-summers commented on #8
Will add in future. Feel free to assign to me.

[2016-12-12 22:44] ryan-summers commented on #8
General issue though is that I don't believe quaternion work through subtraction like Euler does.

[2016-12-12 23:06] irwineffect commented on #8
Does the BNO have anything built-in?

[2016-12-12 23:08] irwineffect commented on #47
Yes, we probably will have other microcontroller code for LEDs, pneumatics, depth, etc.

[2016-12-13 00:10] #110 closed, assigned to nobody

[2016-12-13 00:11] bkallaher commented on #72
Check out my latest push and let me know what you think.

[2016-12-13 04:24] ryan-summers commented on #8
A quaternion is an orientation matrix, so according to the following post they can be added and subtracting by multiplying together (addition) or multiplying by the inverse (subtraction)
http://answers.unity3d.com/questions/130510/add-or-substract-two-quaternionsrotations.html
Aka:
[code]

[2016-12-13 05:14] irwineffect commented on #72
looks good!

[2016-12-13 05:40] ryan-summers commented on #8
And to answer your question, the BNO does not have anything builtin that I can see.

[2016-12-14 03:04] skallaher commented on #31
@irwineffect, closed by #103.

[2016-12-14 03:04] #31 closed, assigned to adolfogarcia

[2016-12-15 19:54] ryan-summers opened #115 "Update bno.cpp Example"
Modify the Bno.cpp example code to instead generate a calibration profile for loading in the future.

[2016-12-15 21:50] bkallaher commented on #72
Completed by #113

[2016-12-15 21:50] #72 closed, assigned to bkallaher

[2016-12-18 21:23] irwineffect opened #119 "Control System Relative 0 Bug"
An issue that has been observed is that when repeatedly sending a relative depth 0 command to the control system the sub will slowly float to the surface, instead of the expected behavior of maintaining the current depth.

The reason this is happening is that when using purely proportional control on the control system, there is always steady-state error on the depth (e.g. if you request 1 meter,

[2016-12-18 21:43] bkallaher commented on #119
Which case will happen more often 0 or not 0? Just wondering if the logic should be more of:
[code]

[2016-12-19 00:53] bkallaher commented on #43
Initial version complete in #120

[2016-12-20 01:06] bkallaher opened #121 "Control launch file references nonexistent files"
The launch file for the control system references a thruster.yaml and control.yaml that don't exist. Update the control launch file to use the cobalt.yaml file that exists.

[2016-12-20 07:44] skallaher commented on #121
Is the include folder within launch also outdated? It contains `movement_ironman.xml` and `sensor_ironman.xml`. If so, the movement launch file is outdated, though something should be in place to specify which thrusters to use.

[2016-12-20 07:46] skallaher commented on #121
Also, the `sim.launch` file references the unity simulator. This seems like it should also be removed along with any other references to the outdated simulator. Thoughts @BigDCross?

[2016-12-20 09:09] dcrossman commented on #121
Yea kill sim.launch.

[2016-12-20 22:50] skallaher commented on #119
@irwineffect, I am waiting on this to do further (more accurate) testing of the AI. Speaking of which, we need to decide on how we want to structure the AI. There are three options that I can see, two of which I have example branches for.

1. Use roslaunch to launch up the given node with remap arguments and the like (see `sean/aiWrapper` branch).
2. Using actionlib to send and receive messages to

[2016-12-24 02:06] irwineffect opened #125 "AI Architecture"
This thread is for discussing the AI architecture.

[2016-12-24 02:06] irwineffect commented on #119
@skallaher, let's move this AI discussion to #125

[2016-12-24 02:07] irwineffect commented on #125
From @skallaher:

[2016-12-24 02:15] irwineffect commented on #119
@bkallaher, I've got no idea which will be more common. Will we be on target or off target more often? It's a different answer for each axis, depth is more likely to be correct than say, yaw. In any case, I don't think we really need to worry about optimizing this right now.

[2016-12-24 02:17] #121 closed, assigned to nobody

[2016-12-24 02:34] bkallaher commented on #119
It was just something to think about.

[2016-12-25 00:54] #52 closed

[2016-12-25 00:54] #53 closed

[2016-12-25 00:54] #54 closed

[2016-12-25 00:54] #57 closed

[2016-12-25 00:54] #58 closed

[2016-12-25 00:54] #59 closed

[2016-12-25 00:54] #65 closed

[2016-12-26 04:59] skallaher commented on #119
Fixed in #127.

[2016-12-26 04:59] #119 closed, assigned to irwineffect

[2016-12-26 06:23] bkallaher opened #130 "Joystick Driver not loading parameters"
The joystick driver is not correctly pulling parameters from the server. Instead the default values are always used.

[2016-12-27 19:41] #130 closed, assigned to bkallaher

[2017-01-03 22:12] irwineffect commented on #35
This has been implemented by #117

[2017-01-03 22:12] #35 closed, assigned to NegaNexus, irwineffect, skallaher

[2017-01-05 19:21] #43 closed, assigned to bkallaher

[2017-01-05 19:21] irwineffect commented on #30
closed until further notice

[2017-01-05 19:21] #30 closed, assigned to nobody

[2017-01-05 19:22] irwineffect commented on #29
closed until further notice

[2017-01-05 19:22] #29 closed, assigned to nobody

[2017-01-09 20:04] bkallaher opened #134 "Test gamepad driver with PS3 controller"
It is currently unknown whether the gamepad driver can directly support a PS3 controller. Need to test.

[2017-01-14 21:26] bkallaher commented on #134
Fixed by #137

[2017-01-14 21:26] #134 closed, assigned to bkallaher

[2017-01-15 00:26] dcrossman opened #138 "Navigation Channel Vision Processing"

[2017-01-15 00:26] dcrossman opened #139 "Torpedo Target Vision Processing"

[2017-01-15 00:27] dcrossman opened #140 "Path Marker Vision Processing"

[2017-01-15 00:28] dcrossman opened #141 "Marker Dropper Vision Processing"

[2017-01-15 00:28] dcrossman opened #142 "Octagon Vision Processing"
Flip upside down and find octagon!

[2017-01-15 00:29] dcrossman opened #143 "Marker Dropper Software Support"

[2017-01-15 00:29] dcrossman opened #144 "Torpedo Software Support"

[2017-01-15 00:40] dcrossman opened #145 "Documentation!!!!!"
- [x] Vision
- [x] Controllers
- [ ] Localization
- [ ] Start-up and Running Software
- [ ] High Level Node Descriptions
- [ ] Launch File Descriptions
- [ ] Parameter Descriptions
- [ ] Rqt Tips and Tricks
- [ ] Github and Pull Review Processes
- [ ] Senior Design Documentation
- [x] AI
- [x] Getting Started Page Rework
- [ ] ROS Command Line Guides

[2017-01-15 00:43] dcrossman opened #146 "Repo Cleanup"
- [x] Delete SharedImageWriter and SharedImageReader
- [x] Cleanup Launch Files
- [x] Update topic namespaces

[2017-01-15 00:58] dcrossman opened #147 "Optimize Serial Class"
See @irwineffect for more info.

[2017-01-15 00:58] dcrossman opened #148 "Fix Ryan"

[2017-01-15 00:59] dcrossman commented on #148
Cannot be implemented.

[2017-01-15 00:59] #148 closed, assigned to ryan-summers

[2017-01-15 01:02] dcrossman opened #149 "Upgrade Control System Unit Test"
Make sure to test:

- [x] Maintain Roll
- [x] Maintain Pitch
- [x] Maintain Yaw
- [ ] Move with constant orientation
- [ ] Go to orientation

[2017-01-15 01:03] dcrossman opened #150 "Control System Absolute Position Control"
Requires localization for real world use but can use /position/real topic for now to test logic.

[2017-01-15 01:04] dcrossman opened #151 "Unit Test for Vision"
- [ ] Gate
- [ ] Buoys
- [ ] Navigation Channel
- [ ] Path Marker
- [ ] Marker Drop
- [ ] Octagon
- [ ] Torpedo Target
- [ ] Unknown Task (new task for 2017)

[2017-01-15 01:06] dcrossman opened #152 "Unit Test for AI"
- [ ] Gate
- [ ] Buoys
- [ ] Navigation Channel
- [ ] Path Marker
- [ ] Marker Drop
- [ ] Octagon
- [ ] Torpedo Target
- [ ] Unknown Task (new task for 2017)

[2017-01-15 05:22] bkallaher commented on #145
I done some of the CLI guides. I've done the followng so far:
- roslaunch
- rosconsole
- rosed
- rosls
- roscp
- roscd
- roscat
- rosbag

[2017-01-15 05:26] bkallaher commented on #145
I have also updated the controllers page to include instructions on running the nodes for the various controllers.

[2017-01-15 05:47] skallaher commented on #146
Removed SharedImageWriter/Reader and related files in #153.

[2017-01-15 06:55] skallaher commented on #145
I believe that there are a few pages that are most definitely outdated at this point and should probably be removed.

e.g. Communcation System, RoboVision (Unless we want to resurrect it), Tools (Though other pages could probably be moved underneath it such as the YAML Formatting Script page.)

The socat page should also be rethought as it is just a single line of text with a command.

I would als

[2017-01-21 22:04] irwineffect opened #157 "Maestro Thruster Scaling"
Currently we do a cut-off limiting of the thruster speed. We want to scale the control system's request.

[2017-01-21 22:06] irwineffect opened #158 "Maestro thruster timeout"
We want the thrusters to automatically turn off if no signal is received after a certain (configurable) period of time.

parameter is: thruster_timeout

[2017-01-22 23:46] dcrossman opened #162 "Handle thruster deadzone in control system"

[2017-01-22 23:51] dcrossman opened #163 "Update Thruster Driver class"
Change the MaestroController class to be the MaestroDriver class.
Update the Maestro class to take in a linearized data from 0-100% force. This class should then take this value and map it to the proper value as specified in the T200 documentation. It should account for deadband and non-linear properties of the thruster.

[2017-01-23 00:21] ryan-summers opened #164 "BNO055 sometimes does not properly respond on boot"
Periodically on power-up, the BNO055 fails to respond properly to the query for the CHIP_ID register. It can be remedied by querying for the CHIP_ID in python using PySerial. Once the CHIP_ID successfully enumerates, the BNO055 will respond properly again. Discover how the fix can be implemented in the C driver.

[2017-01-23 00:58] irwineffect commented on #162
control system shouldn't care, issue #163 will cover the deadzone problem

[2017-01-23 00:58] #162 closed, assigned to nobody

[2017-01-23 04:26] btmoore opened #165 "Control System - problem with pitch at >90 yaw error"
There is a potential issue with the control system. I believe I have a fix - I need somebody to add it to the control system and test it in the simulator.

The problem is that for relative orientation goals (from current orientation, not absolute) with yaws greater than +/- 90 degrees, any pitch error is going to have positive feedback.

Test 1:
-set yaw P = very small, I = 0, D = 0 so that yaw ro

[2017-01-23 04:48] btmoore opened #166 "Rotation Engine - efficiency and pitch-90 error"
Two problems.

One, r3D() function is using an inefficient algorithm. It can be shorted significantly.

The new function can be written as three matrices generated and multiplied by eachother

 for omega = [roll, pitch, yaw]

R = [cosd(omega(2)) -sind(omega(2)) 0; sind(omega(2)) cosd(omega(2)) 0; 0 0 1] * ...
   [cosd(omega(1)) 0 sind(omega(1)); 0 1 0; -sind(omega(1)) 0 cosd(omega(1))] * ...
   [1

[2017-01-23 05:03] skallaher commented on #165
![robosubcontrolfixtest1](https://cloud.githubusercontent.com/assets/6586913/22215489/66b628fa-e150-11e6-9546-f0d760202da0.png)

Test 1 results.

[2017-01-23 05:17] skallaher commented on #165
Test 2 results, pending.

[2017-01-23 06:31] btmoore commented on #165
That looks like test 1 shows the positive-feedback for pitch, ramping up close to 90, and then kind of falling/rotating over itself. Correct?

[2017-01-23 06:35] skallaher commented on #165
That was what it looked like, yes.

[2017-01-23 06:36] btmoore commented on #165
Cool. Nice to know things are failing catastrophically the way I predicted.

...wait

[2017-01-23 06:39] skallaher commented on #165
Yep. I'm attempting to implement your fix and I'm not familiar enough with Eigen. What kind of cosine is it? Is it supposed to be matrix-wise, entry-wise, coefficient-wise or otherwise? I tried the syntax you specified and there isn't a `cosd` function defined.

[2017-01-23 06:49] btmoore commented on #165
I was going based off the functions in the rotation_engine.cpp

https://github.com/PalouseRobosub/robosub/blob/dev/src/movement/rotation_engine.cpp

I don't know if those initial helper functions extended outside the engine. Perhaps not.

The second element of rotation_error (ePitch) is supposed to be multiplied by the cosine of the 3rd element (eYaw) and stored as the second element of that same

[2017-01-23 06:54] skallaher commented on #165
Ah, okay. Eigen just returns odd data types when segmented the way you mentioned. I'll look into other ways to access the data and see if that helps.

[2017-01-23 06:55] skallaher commented on #165
I found what it was. The rotation engine doesn't expose the cosd, sind and such functions. The only ones available (currently) are r3D, r3Dv, ir3D and pinv.

[2017-01-23 06:57] btmoore commented on #165
Ah. I''m surprised it's gone this long without them being used elsewhere.

If Dustin continues to build the localization stuff, I can pretty much guarantee he'll need those.  Probably worth changing them to be exposed as well.

[2017-01-23 06:59] skallaher commented on #165
I'll do the test manually using the calculation within cosd for now.

[2017-01-23 06:59] btmoore commented on #165
sounds good. Sorry about that.

[2017-01-23 07:03] skallaher commented on #165
No problem. Here's the results for Test 2.
![robosubcontrolfixtest2](https://cloud.githubusercontent.com/assets/6586913/22215530/90e30f12-e150-11e6-8832-c417c4a07ac2.png)

[2017-01-23 07:06] skallaher commented on #165
Followed by Test 3.
![robosubcontrolfixtest3](https://cloud.githubusercontent.com/assets/6586913/22215613/dfd36e14-e150-11e6-9f88-b07acdf10b3c.png)

[2017-01-23 07:08] skallaher commented on #165
I wasn't sure if I had the PID values correct for Test 2, so I've updated the image just in case.

[2017-01-23 07:09] btmoore commented on #165
Well, Test 2 it looks like it's not trying to do a really sad backflip anymore.  And that roll looks like it's the right amount.

Did it look nice/efficient visually, or was it still jerky at all?  Ideally it should  kind of have close to zero pitch around the half-way point.  The roll seems like its oscillating a bit, but that's just a tuning issue.

Test 3 is a bit confusing.  It seemed to way o

[2017-01-23 15:03] ryan-summers commented on #165
cosd, sind, and etc were recently added for use as cosine (degrees) sin(degrees) etc for the rotation engine. We weren't doing degrees with cosines and sines anywhere else. I don't see why we shouldn't namespace them into the repository.

[2017-01-23 15:04] ryan-summers commented on #163
I'll take this. I'm preparing the bluerobotics graphs for regression currently.

[2017-01-23 16:11] ryan-summers commented on #163
![thruster_curve_fit](https://cloud.githubusercontent.com/assets/8771450/22211854/5afeb16a-e143-11e6-9499-7f0038ff2955.jpg)
Here's a plot of the cubic exponentials I used for modelling the thruster curves. The key was to ensure that the curve was fit for negative data and positive data separately so that the deadband didn't screw with the fitting.

[2017-01-23 16:19] ryan-summers commented on #163
For posterity, I am going to be adding this data and the figures, as well as the python script used to generate the polynomials.
**The following file contains an error in poly_fit.py**
[curve_fitting.zip](https://github.com/PalouseRobosub/robosub/files/724258/curve_fitting.zip)
BlueRobotics data was collected from here: https://plot.ly/create/?fid=rjehangir:103

[2017-01-23 17:39] skallaher commented on #165
I just realized that I've been changing the values for roll, not yaw... I'll update the images accordingly for each test.

[2017-01-23 17:47] skallaher commented on #165
Results updated. Test 3 uses the current default values for yaw, I don't know if they've been tuned at all or not.

[2017-01-23 18:47] ryan-summers commented on #163
Note that the above curve_fitting.zip file contains an incorrect assumption in the data. Please use the following curve_fitting.zip
[curve_fitting.zip](https://github.com/PalouseRobosub/robosub/files/724635/curve_fitting.zip)
The corrected graph is as follows
![thruster_curve_fit](https://cloud.githubusercontent.com/assets/8771450/22217812/56adedd6-e159-11e6-9da7-9070f1acf787.jpg)

[2017-01-23 22:01] btmoore commented on #165
Interesting. The values for Test 3 take twice as long to stabilize as Test 2.  I think more than anything that just indicates a need for better tuning.

Test 2 accomplishes what it's supposed to in about 6 seconds compared with roughly 10 seconds for Test 1, and it does it without going nose-up, so overall I'd call that a success.

Providing integral offsets based on orientation should also improv

[2017-01-23 22:29] skallaher commented on #165
Test 4 resulted in the sub fighting itself and eventually reaching a stable point at about [50,0,110].

I used P=0.01, I=0, D=0 as per Test 2. Also as a note that Test 3's values were P=0.07, I=0.01, D=1, I believe.

[2017-01-23 22:34] skallaher commented on #165
Test 5 was similar, though stabilizing at [-50,0,-150]

[2017-01-23 22:38] btmoore commented on #165
Gotcha.  That is a really low setting. Explains why it takes 5-10 seconds to turn around.

I'll have to think a bit about why test 4 and 5 are fighting each other.

Can you run test 3 again, first with derivative set to D = 0.4, and second with it set to D = -0.4.   I want to see the behavior change, and I also want to make sure that the derivative term has the proper sign, because that exponentia

[2017-01-26 21:19] irwineffect opened #170 "Systems Check GUI"
We need a GUI that has buttons for sending messages to actuate all mechanical/electrical functions of the sub.

[2017-01-27 01:50] #150 closed, assigned to ryan-summers

[2017-02-01 02:10] irwineffect commented on #158
we've discovered this isn't possible to do via the serial interface, only through the usb interface. We'll just set it once via the gui and forget about it.

[2017-02-01 02:10] #158 closed, assigned to nobody

[2017-02-01 02:11] irwineffect commented on #157
This is now part of #163

[2017-02-01 02:11] #157 closed, assigned to adolfogarcia

[2017-02-01 02:19] irwineffect opened #175 "Move Rate parameters into own namespace"
Looking at cobalt.yaml right now, there are a lot of nodes that have their own rate parameter, so it looks something like:
[code]

We want to reorganize all the rate settings to be underneath a single rate namespace, so it looks like:
[code]

Note this change involves more than just changing the settings file, it also requires going through all programs that load from the settings file.

[2017-02-02 00:04] #125 closed, assigned to nobody

[2017-02-04 21:57] dcrossman commented on #42
Turn into rqt perspective #13

[2017-02-04 22:32] irwineffect commented on #42
should be both!

[2017-02-07 05:38] irwineffect opened #178 "joystick dynamic reload parameters"
Right now the joystick node loads up its min and max depth settings only on bootup, we need the ability to modify the parameters while the node is running and have the node update its internal settings.

[2017-02-08 22:50] #165 closed, assigned to nobody

[2017-02-08 23:46] irwineffect commented on #163
fixed by #167

[2017-02-08 23:46] #163 closed, assigned to ryan-summers

[2017-02-16 21:29] bkallaher opened #188 "Throttled Subscriber"

[2017-02-17 23:40] bkallaher commented on #170
fixed by #183

[2017-02-17 23:40] bkallaher commented on #42
partially fixed by #183

[2017-02-21 22:05] #188 closed, assigned to nobody

[2017-02-24 16:26] #170 closed, assigned to bkallaher

[2017-03-03 00:43] ryan-summers commented on #164
See https://github.com/PalouseRobosub/robosub/pull/196

[2017-03-03 00:45] skallaher commented on #164
This should only be closed when the PR is merged.

[2017-03-03 03:10] #164 closed, assigned to nobody

[2017-03-03 15:34] ryan-summers commented on #175
See PR:https://github.com/PalouseRobosub/robosub/pull/199

[2017-03-03 15:35] ryan-summers commented on #115
Was merged in with Bno055 calibration node.

[2017-03-03 15:35] #115 closed, assigned to ryan-summers

[2017-03-03 18:48] #175 closed, assigned to nobody

[2017-03-04 22:13] irwineffect opened #205 "Disable control system on startup"
We want the control system to not publish any thruster messages until a control system message has come through, because it doesn't make any sense for the control system to do stuff if we haven't given it any commands anyways.

Relevant files:
https://github.com/PalouseRobosub/robosub/blob/dev/src/movement/control_system.cpp
https://github.com/PalouseRobosub/robosub/blob/dev/src/movement/control_s

[2017-03-05 04:57] #178 closed, assigned to nobody

[2017-03-05 20:46] bkallaher commented on #143
Not needed anymore as the marker is dropped on a service call.

[2017-03-05 20:47] bkallaher commented on #144
Not needed as the torpedo will be triggered with a service.

[2017-03-06 06:33] ryan-summers opened #213 "Write Python Control Message Helper Class"
Write a python class for generating control messages. This will have setters for each field in the message as well as for things like dive-relative, etc.

[2017-03-06 21:20] bkallaher opened #215 "Speed up Travis Builds"
This could be creating a prebuilt docker container with our software or possibly finding a better CI engine

[2017-03-08 22:53] bkallaher commented on #215
Docker doesn't save enough time (~10s) to be viable (Using Travis)

[2017-03-08 22:59] skallaher commented on #8
Completed by #210.

[2017-03-08 22:59] #8 closed, assigned to skallaher

[2017-03-08 23:43] bkallaher commented on #42
Only need the RQt Perspective now

[2017-03-19 00:13] skallaher opened #221 "Cleanup Camera Drivers"
This could end up being an in-depth process and would most likely require adding the drivers to the robosub Debian repository.
- [ ] Investigate modifying the pointgrey camera drivers to remove many of the unnecessary topics published to.
- [ ] Investigate modifying the pointgrey camera drivers to publish standard Image messages rather than WFOV Images.

This would also include general cleanup in

[2017-03-19 00:20] skallaher opened #222 "Create an RQT plugin for tuning vision parameters easily"
An RQT plugin which allows the tuning of HSV parameters as well as parameters for other filters. This would require showing the feed from one or more cameras at any given time and include sliders for adjusting filters with number fields for manual entry. In future, dynamically adding, removing, and reordering filters will be useful as well.

Also include being able to see the intermediate images o

[2017-03-20 17:10] irwineffect commented on #221
For reference, the driver code is here:
https://github.com/ros-drivers/pointgrey_camera_driver

[2017-03-23 01:00] lucy9tran commented on #13
1) Is there an updated list of desired perspectives? @bkallaher
2) Are there any suggestions for perspectives for the current list? (Anything that people would find useful?)

[2017-03-28 23:11] dcrossman opened #228 "Make general purpose math header."

[2017-03-28 23:29] skallaher commented on #228
This would entail a creating a header file in the [`utility` directory](https://github.com/PalouseRobosub/robosub/tree/dev/src/utility) containing any mathematical operations used repeatedly in systems such as the [control system](https://github.com/PalouseRobosub/robosub/tree/dev/src/movement) and localization system.

[2017-04-02 06:38] skallaher commented on #205
Completed by #220.

[2017-04-02 06:38] #205 closed, assigned to adolfogarcia

[2017-04-05 18:25] irwineffect commented on #228
Let's also add an Euclidian distance function, for both 2 and 3 dimensions:
[code]

I don't think the function definitions should go in the math header itself though. We should make a separate math.cpp file to hold them.

[2017-04-06 01:35] HMcCullough opened #231 "Add help to keyboard controller"
The keyboard controller currently has no help text.

[2017-04-06 01:51] bkallaher commented on #231
The info on the controller is on the controllers wiki page.

[2017-04-06 04:01] skallaher commented on #231
Here is the link to the [wiki page](http://robosub.eecs.wsu.edu/wiki/cs/controllers/start) for your reference.

[2017-04-07 22:39] irwineffect opened #234 "Pneumatic Arduino Code"
## Introduction
This is going to be an arduino-based node that actuates our pneumatics to fire torpedoes and drop markers. It should use the ROS services API. Need to talk to the mechanical engineers to ask them how to actuate the pneumatics to move the mechanisms.

## Service Names
`fire_torpedo/left` - [std_srvs/Trigger](http://docs.ros.org/api/std_srvs/html/srv/Trigger.html)
`fire_torpedo/right

[2017-04-09 00:04] skallaher commented on #234
Since there are two marker dropper mechanisms, shouldn't there be two services? One for left and one for right?

It also might be a good idea to have a way to determine the status of each so that the AI doesn't have to guess if it has already fired a torpedo. This could be a service call as well.

[2017-04-10 01:40] lucy9tran commented on #228
@bkallaher Where is the simulation branch/folder? I think you said there were math functions needed for the math header there too?

[2017-04-10 02:37] skallaher commented on #228
@lucy9tran, the simulator is a separate repository [here](https://github.com/PalouseRobosub/robosub_simulator). Look at the simulator bridge in particular. Don't worry about making the simulator reference your code, we can have @BigDCross do so when you're merged into dev. On another note, you should talk with @irwineffect about having a cpp file for your actual source code and how to modify the C

[2017-04-10 20:09] irwineffect commented on #234
Agreed, updated the description!

[2017-04-10 23:19] irwineffect opened #237 "LED Arduino Code"
## Introduction
This is going to be an arduino-based node that controls our LEDs. It should allow for both precise control over the pixels and switching all leds to a particular color.

## Topic Names
`led/raw` - raw control over the pixels [robosub/rgbArray](https://github.com/PalouseRobosub/robosub/blob/dev/msg/rgbArray.msg)
`led/solid` - sets all pixels in the array to the color specified [robo

[2017-04-10 23:19] irwineffect commented on #237
Note the above API is still under construction, people are welcome to comment and refine the API.

[2017-04-10 23:34] bkallaher commented on #234
see #236 for the addition of the tbd service.

[2017-04-11 03:39] skallaher commented on #237
What about having these be services? Do we want to implement the system where each subsystem has a section of the led's that display its status while running? Perhaps allow preset patterns similar to the old system?

I suggest a parameter for the refresh FPS for the LEDs.

How are the LEDs going to be arranged on the sub and should that information be used within the arduino node?

[2017-04-11 15:49] irwineffect commented on #237
These are all fantastic questions. I was just thinking of this issue as getting the basic functionality working at first, to get someone new familiar with how to work the LEDs. Yeah picking a pattern or color might be worth it as a service call, but I think the raw control should be a topic for speed. Let's just keep them all as topics for right now.

[2017-04-13 02:20] Sindorman commented on #231
I have added the help to the keyboard control. Also changed some of the Controls. But I am not very familiar with publishing process.

[2017-04-14 22:48] skallaher commented on #221
This is now High Priority as testing camera calibration and stereo vision needs this to be completed.

[2017-04-18 20:07] bkallaher opened #244 "Convert Things to Use tf"
The tf library is really powerful investigate and test the possible use in things like the control system.

[2017-04-22 23:04] skallaher commented on #244
From the ROS wiki page on [tf](http://wiki.ros.org/tf):

[2017-04-24 20:16] skallaher commented on #231
Fixed by #241

[2017-04-24 20:16] #231 closed, assigned to Sindorman

[2017-04-29 23:33] ryan-summers opened #247 "Add PNI TRAX IMU Support"
Add a driver class and node for the PNI TRAX AHRS module. https://www.tri-m.com/index.php/product/distributor/pni-sensor/motion-tracking/pni-trax#downloads

[2017-05-01 14:43] irwineffect opened #248 "Suspected Memory Leak"
I logged into my computer today and discovered that I was completely out of RAM and swap after running the simulator for a few days. Not sure which node(s) is causing the leak, more investigation needs to be done. I first suspect the vision processing, I noticed a lot of ram was freed when I killed the buoy nodes.

Running nodes:
- robosub_simulator/gazebo.launch
- robosub/vision.launch
- robosub/

[2017-05-08 04:09] ryan-summers commented on #237
Update. The LEDs are currently only monochrome, and you can only set them percentage on and off.

[2017-05-12 22:43] #221 closed, assigned to nobody

[2017-05-13 05:20] Sindorman commented on #248
Did you run simulator for days without stopping?

[2017-05-13 23:48] skallaher commented on #248
@Sindorman, that seems to be the case. Have you seen any symptoms of this problem?

[2017-05-14 05:02] Sindorman commented on #248
@skallaher I tried to recreate same. I run simulator making sub face buoys, I also was running rqt plagin of left camera(if that helps). I took a screenshot of some of htop information, and left it run over night. I did notice change of total memory usage from 2.56 GB to 2.86-3.06 Gb, however the percentage of memory usage stayed the same on simulator. But the number of threads were 20 more then w

[2017-07-04 03:13] irwineffect opened #258 "IMU Architecture Overhaul"
We need to properly add support for multi-IMU. There are a few things we need to figure out when implementing this:

## Node Naming
If we have multiple of the same sensor, how do we name them? For example, (`bno055_0`, `bno055_1`) or (`bno055_left`, `bno055_right`)?

## Topics
IMUs should not publish to any global topics (such as /orientation or /pretty/orientation). Instead, they should publish w

[2017-07-04 03:15] irwineffect opened #259 "Darknet YOLO Integration"
need to fill this out

[2017-07-04 17:15] skallaher commented on #258
@irwineffect You haven't mentioned anything about fusion.

[2017-07-04 17:17] skallaher commented on #222
Becomes obsolete with #259,  though some adaptation may be useful for viewing the output of YOLO.

[2017-07-04 18:44] irwineffect commented on #258
Oh, that's what I meant by "process and rebroadcast" when I was talking about the generic IMU node. Updated the description

[2017-07-04 21:51] bkallaher commented on #213
I have the basics for this complete (see [bkallaher/pycontrol](/palouserobosub/robosub/tree/bkallaher/pycontrol)). The main question now is who should be doing the broadcasting of the message, my class or the AI?

[2017-07-04 22:12] bkallaher commented on #213
Do we also want there to be checks for valid inputs inside this class?

[2017-07-06 00:56] skallaher commented on #258
I prefer the explicit naming rather than indexing as it makes it easier to quickly identify the correct hardware. I most definitely agree with modifying the parameter names. "sensor" is too ambiguous. You should be able to accomplish the output topic results rather easily by making the nodehandle it is published through a private nodehandle.

[2017-07-06 21:40] irwineffect opened #260 "Parameter Reorganization"
Currently we group parameters like so:
[code]

While it makes the parameter file easier to read, it makes code for loading parameters a little more complex, especially when we want to move nodes to different namespaces. I think we should reorganize it like so:

[code]

This makes putting nodes in different namespaces WAY easier.

[2017-07-06 22:45] irwineffect commented on #213
I'm thinking your constructor should take in a publisher object that the AI initializes, and then you can have a `publish()` method that just internally calls `self.pub.publish(self._control_msg)`

What sort of valid input checking are you thinking of? My gut reaction is nah, I wouldn't worry about. We can just keep it simple.

[2017-07-06 22:50] irwineffect commented on #213
Oh, also I understand why you put it the class in `src/movement/`, but you need to think about how an AI module is going to import it. ROS can setup your PYTHONPATH so you can just say `import robosub.src.movement.control_wrapper` or something like that, but you need to configure the CMakeLists.txt and maybe the package.xml.

[2017-07-06 23:53] bkallaher commented on #213
If you want the publishing to be done by the wrapper would it be better if the wrapper creates the publisher from a passed in topic name? Would you prefer that the class be moved into either the scripts or ai folder? As for input checks I was thinking mostly for the absolute goals that the passed in values are in range (-180 to 180 for rotation and -50 to 50 for linear).

[2017-07-07 00:13] irwineffect commented on #213
Actually yeah good idea on creating the publisher yourself with passed in topic name. You can have that be defaulted to `control` so we don't have to worry about it unless we want to override it. Let's just put it in the AI folder for now. Hmm I still think it's fine to not have checks, no reason to over complicate this class for now.

[2017-07-07 01:31] irwineffect opened #263 "Remove delayed_node.sh"
`delayed_node.sh` is deprecated in favor of `sleepme.sh`. Replace all usages and remove `delayed_node.sh`.

[2017-07-07 03:14] skallaher commented on #260
I remember that there was a reason we decided to do this, but it might be obsolete by now. I like the way you are suggesting.

[2017-07-07 03:41] skallaher commented on #263
Is this fixed by #261?

[2017-07-08 03:26] #247 closed, assigned to ryan-summers

[2017-07-08 05:01] irwineffect commented on #247
Implemented by #249

[2017-07-08 05:14] irwineffect commented on #263
No, #261 introduced `sleepme.sh`. This issue is to remove all current usages of `delayed_node.sh`.

[2017-07-08 05:15] irwineffect commented on #260
Lol I stated the original reason in the issue, it makes the parameter file easier to read.

[2017-07-08 05:17] irwineffect commented on #260
This will be partially fixed by #262, however there are still instances of this in the codebase that need to be fixed.

[2017-07-08 07:52] skallaher commented on #260
I would also be in favor of splitting up the parameter file into easier to manage chunks. For instance, a `sensors.yaml` and `movement.yaml` where the former would contain the imu, depth sensor, and hydrophone parameters and the latter would contain the thruster and control system parameters. `cobalt.yaml` has gotten pretty big.

[2017-07-08 07:59] skallaher commented on #263
The only place `delayed_node.sh` should be used is in launch files. None of the launch files in this repo currently delay nodes at all. The `gazebo.launch` file in the simulator repo does. This seems like it would be an issue better suited there.

[2017-07-08 22:00] irwineffect commented on #263
Good point. Issue is now moved to PalouseRobosub/robosub_simulator#96

[2017-07-08 22:02] irwineffect commented on #263
Actually this is incorrect, we use `delayed_node.sh` in several tests, so this issue is still valid for this repo.

[2017-07-08 22:18] irwineffect commented on #260
Yeah I'm still on the fence about that. I agree that `cobalt.yaml` have gotten large.

The main disadvantage I can think of is that working with multiple param files is more effort than just one. I kinda like that I only need to load one file, I don't need to think about which param file contains the parameters my node needs. With a single settings file, there is zero confusion about which file we

[2017-07-08 23:10] skallaher commented on #260
Looking forward at reorganizing launch files, it can help prevent loading parameters twice. If there is a `sensors.launch` file it would load the `sensors.yaml` file and help prevent collisions.

[2017-07-09 17:24] irwineffect commented on #260
That's only true though as long as we don't make the mistake I noted above. If we do accidentally put the same parameter in multiple files we'll then have the strange behavior of different values being loaded for a parameter depending on load order, which is an easy fix, but only after you figure out the cause. Whereas if we have one launch file, it doesn't matter if we load multiple times because

[2017-07-10 00:07] skallaher commented on #260
What about instances where only part of the system is desired to launch? For instance, the sensors only without the control system. There would need to be a separate launch file just for sensors. If only the top level launch file loaded param​s, the user would need to remember to do so manually. In the case of having every launch file load the parameters, if one launch file is launched and then la

[2017-07-10 01:05] irwineffect commented on #260
Yeah, in my mind it is ok for a launch file to crash because you forgot to load the parameter file because it'll be really obvious. The issues I'm concerned about are silent failures. But yeah you're right if we have any nodes that set parameters during run time. I don't think any nodes currently do this though. Do any of the vision nodes do it?

[2017-07-10 01:09] irwineffect commented on #259
The [PalouseRobosub/rs_yolo](https://github.com/PalouseRobosub/rs_yolo/) repo's `detector` node is functional, but can be improved. See that repo's issue tracker for more details.

[2017-07-10 01:09] #259 closed, assigned to nobody

[2017-07-10 08:09] skallaher commented on #260
Not internally, no. Though if someone were to be messing with the parameters during run-time and they get reloaded, it could lead to a lot of frustration. A lot of the other nodes have their parameters in separate files, such as the localization, ai, and vision. `cobalt.yaml` almost feels like the odd one out.

[2017-07-12 23:19] #263 closed, assigned to nobody

[2017-07-13 04:27] skallaher commented on #258
Are any parts of this unimplemented by #262?

[2017-07-13 21:06] irwineffect commented on #258
Nah, this was fixed by #262

[2017-07-13 21:06] #258 closed, assigned to irwineffect

[2017-07-22 03:18] irwineffect opened #267 "IMU orientations"
We've remounted all of the IMUs, code for supporting orientations need to be updated.

[2017-07-25 17:11] irwineffect opened #270 "Dynamic active IMU loading"
IMU node should periodically reload the ~active_imu parameter

[2017-07-25 18:00] AtomicCharge opened #271 "Roslaunch for recording"

[2017-07-25 18:01] AtomicCharge opened #272 "Start switch"

[2017-07-25 18:41] AtomicCharge opened #273 "Hull temperature data from an IMU"

[2017-07-25 21:58] irwineffect commented on #267
fixed by #268

[2017-07-25 21:58] #267 closed, assigned to nobody

[2017-07-25 22:03] irwineffect opened #275 "NUC and Jetson Tempuratures"
Need a ROS node to read the CPU (or whatever) temperature to read the NUC and Jetson temperatures. Try to make one node that is capable of running on both the NUC and the Jetson. Use private nodehandle for publishing temperatures (see BNO_055 or TRAX for example).

[2017-07-26 07:21] bkallaher commented on #275
This is currently being worked on in the bkallaher/linux_sensors branch. It requires the following software to be installed that isn't currently in the debian package: sensors and pysensors (Installation steps to come).

[2017-07-27 07:09] bkallaher commented on #275
Fixed by #279

[2017-07-27 07:10] bkallaher commented on #213
Fixed by #265

[2017-07-27 07:10] #213 closed, assigned to bkallaher

[2017-07-27 07:11] bkallaher commented on #271
Fixed by #278

[2017-07-27 07:11] #271 closed, assigned to nobody

[2017-07-27 19:13] skallaher opened #280 "Have AI manager surface on death"

[2017-07-29 03:04] bkallaher commented on #280
Requires control system to support a clear goals service. This guarantees that it will be received upon death of the AI manager.

[2017-07-29 07:04] bkallaher commented on #280
#282 will help with this

[2017-07-30 21:30] skallaher commented on #280
TODO: Add timeout on `wait_for_service` and report when timeout is exceeded.

[2017-08-17 23:28] #63 closed, assigned to skallaher, bevans2, omar-enrique

[2017-08-17 23:28] #64 closed, assigned to skallaher, bevans2, omar-enrique

[2017-08-17 23:28] #76 closed, assigned to nobody

[2017-08-17 23:28] #138 closed, assigned to nobody

[2017-08-17 23:28] #139 closed, assigned to nobody

[2017-08-17 23:28] #140 closed, assigned to bevans2

[2017-08-17 23:28] #141 closed, assigned to nobody

[2017-08-17 23:28] #142 closed, assigned to bevans2

[2017-08-17 23:28] #151 closed, assigned to nobody

[2017-08-17 23:28] #152 closed, assigned to nobody

[2017-08-17 23:29] #222 closed, assigned to omar-enrique

[2017-08-17 23:30] #42 closed, assigned to courtney-snyder

[2017-08-17 23:51] skallaher opened #284 "Dataset Sanitation"
## Background
The vision dataset is suspected to contain incorrect labels. In addition to this, the Navigation Channel was not labeled and needs to be in order to perform that task. Sloth is required to perform this task.

## Action Required
- Analyze completed dataset chunks and verify label names are correct
- Label instances of the Navigation Channel in annotated dataset chunks

## Workflow
Bef

[2017-08-17 23:55] irwineffect opened #285 "Darknet node publishing labeled images"
The darknet node needs to be modified to so that it draws its predictions on the input image and republishes this "labeled image" on another topic (**/pretty/vision**).

[2017-09-03 16:54] ryan-summers opened #286 "Add Raw Measurement Publish to Trax"
Currently the Trax sensor node only publishes quaternions. Instead, modify the node to also publish the raw accelerometer, magnetometer, and gyroscope. We can use this data to test integration for yaw and double integration for position.

[2017-09-03 22:55] skallaher opened #288 "Fix Joystick Yaw Relative"
## Background
The joystick is used to manually control the sub and operates by running a driver for the hardware, and a controller to sent control messages to the control system.

## Action Required
- Investigate and reconcile issues with the joystick sending relative messages for yaw and drift causing the sub to yaw right over time.

## Workflow
Consult @irwineffect about the symptoms and testing

[2017-09-03 22:58] skallaher opened #289 "Update Control System Params"
## Background
The control system PID values are out of date and have been somewhat tuned during the 9/3 pool test.

## Action Required
- Use saved parameters from the pool test and make them the default values in the `cobalt.yaml` file.

## Workflow
Consult @irwineffect about where the new values are located and create a pull request after modifying the parameter file accordingly.

[2017-09-03 23:00] skallaher opened #290 "Switch to Using TRAX as Default IMU"
## Background
The IMU node uses one of the three IMUs onboard as the default. These are `bno055_left`, `bno055_right`, and `trax`. Currently the default value is `bno055_left`.

## Action Required
- Modify the correct parameter file to utilize the trax sensor by default.

## Workflow
Consult @irwineffect about where this is located and create a pull request with the appropriate changes.

[2017-09-03 23:04] skallaher opened #291 "Update Robosub Debian to Depend on SMACH"
## Background
The new AI architecture will be using smach as the framework for hierarchical state machines. This is currently not a dependency of the Debian package.

## Action Required
- Modify the Debian package to include ros-indigo-smach-ros and ros-indigo-smach-viewer packages as dependencies

## Workflow
Modify the Debian and perform a regression test on a fresh install of mint.

[2017-09-06 19:48] irwineffect commented on #291
Done!

[2017-09-06 19:48] #291 closed, assigned to irwineffect

[2017-09-09 21:33] irwineffect opened #292 "New hydrophone calculations"

[2017-09-10 21:31] Sindorman opened #296 "Undistortion does not publish compressed images"
Camera left and right undirstortion compressed topics do not publish any data.

[2017-09-10 21:33] Sindorman opened #297 "Add internet connection to the sub at the pool test"
Set up internet connection to the sub while doing pool tests.

[2017-09-12 05:22] irwineffect commented on #296
To follow up on this, it looks like the topics are getting advertised (e.g. `/camera/left/undistorted/compressed`) however whenever you try to subscribe via the compressed transport it causes the undistortion node to seg fault.

[2017-09-16 02:09] skallaher commented on #280
Outdated and implemented in the new system.

[2017-09-16 02:09] #280 closed, assigned to nobody

[2017-09-18 22:53] skallaher commented on #272
Complete by #287

[2017-09-18 22:53] #272 closed, assigned to nobody

[2017-09-24 22:10] brennanpeter opened #301 "Creating launch files for pool tests and competition"
We need to create some easy to use launch files for both pool testing and competition. Hopefully we can have an easy to use system for launching the sub when testing but in order to do this we also need to decide what we want launched most of the time

[2017-09-25 19:02] Sindorman commented on #297
Current Idea is to use Raspberry Pi 3 to connect to the internet and share it, while acting as DNS resolution server

[2017-09-25 22:39] skallaher opened #302 "Add RViz support"
## Background
RViz is a powerful visualization tool for seeing the logic going on and what the sub is thinking. Following are some helpful links.

- [RViz ROS Wiki](http://wiki.ros.org/rviz)
- [An RViz branch created by @irwineffect](https://github.com/PalouseRobosub/robosub/tree/james/rviz)
- [Tutorial on creating a new tool](http://docs.ros.org/indigo/api/rviz_plugin_tutorials/html/tool_plugin_t

[2017-10-01 19:10] skallaher commented on #301
A few notes on things to change/mess with:

#### Needed:

1. Update [`vision.launch`](https://github.com/PalouseRobosub/robosub/blob/master/launch/vision.launch). It is outdated as it was intended to be used with the old OpenCV system.
2. Update [`ai.launch`](https://github.com/PalouseRobosub/robosub/blob/master/launch/ai.launch) with new master state machine (This is still in development).
3. Wri

[2017-10-02 00:49] Sindorman opened #305 "Modify gate task, and gate channel. Merge navigation channel code to master"
- [x]  Take out states, and state machine in `smach_gate.py`, and put in separate state to be more reusable for better import.

- [x] Throw away use of global variable `search_direction`, and use `userdata.input/output` keys. With that modify `SubscribeState.py` to support `userdata` being transferred.

- [x] Once 1st task is done, remake `smach_nav_channel.py` into using new generic state utils.

[2017-10-02 03:34] Sindorman commented on #285
PalouseRobosub/rs_yolo#3 pull request solves it.

[2017-10-02 05:09] daymare commented on #285
Right, fixed by Peter and myself a while ago.

[2017-10-02 05:12] skallaher commented on #285
This has not been fixed. @daymare, you have not completed the PR for it.

[2017-10-04 07:34] Sindorman commented on #146
- [x] Delete old AI files, and old AI parameter files

[2017-10-07 03:05] Sindorman commented on #305
- [ ]  In future need to make` move_forward_centered()` in `util_states.py` to watch for bottom facing camera,  slow  down or stop if it gets close to path marker.

[2017-10-07 07:14] Sindorman commented on #77
Make simulator detect when sub passes gate task.

[2017-10-12 21:31] skallaher opened #308 "Sign Up For Hacktober Fest"
Just DO IT!!! (Regardless of the T-Shirt quality)

[2017-10-12 21:42] skallaher commented on #308
@connor-wool get to work on this!

[2017-10-13 02:38] connor-wool opened #310 "Enum bugs in localization.cpp"
Run tests on the localization.cpp code (and it's related subsystem code) and create bug issues for any crashes / failed initializations / unexpected outputs

[2017-10-13 02:40] connor-wool commented on #308
I'm signed up, Sean and Timmy should sign up so we can close this!

[2017-10-13 02:42] connor-wool opened #311 "Define localization test parameters"
We need to come up with an idea of what our testing suite will look like. We'll probably have to have Gazeebo running so that the hydrophone data and IMU data is being read into the sub. Then, we can have the sub export it's localization info, and compare it to the known location data that we're reading off of the gazeebo engine.

[2017-10-13 02:43] connor-wool commented on #311
We need to come up with an idea of what our testing suite will look like. We'll probably have to have Gazeebo running so that the hydrophone data and IMU data is being read into the sub. Then, we can have the sub export it's localization info, and compare it to the known location data that we're reading off of the gazeebo engine.

[2017-10-13 02:47] connor-wool opened #312 "Check that data is posted ROS Point type"
As Sean mentioned today, some of the data is being posted in a format other the clean ROS datatypes that we want to be pushing. We should be able to fix this, and it's better to do it sooner so that we can have a standard API that other groups can subscribe to.

[2017-10-13 02:51] connor-wool commented on #312
Referencing the photos in the Slack chat: Looks like we want to be publishing **a single ROS "point"**, and we might be pushing out a Vector3 right now.

If someone is really attached to Vector3, we can stick with that (It's essentially equivalent to a point) but I think that for outside use, having the data published as a "point" makes it clearer what the intention of the data is. A vector might

[2017-10-13 05:25] skallaher commented on #310
@connor-wool, please provide a discription for this issue.

[2017-10-13 05:25] skallaher commented on #311
@connor-wool, please put your above comment as the description for the issue so it is easier to reference.

[2017-10-13 05:26] skallaher commented on #312
@connor-wool, You are correct, a Point is more representative of the meaning behind the data.

[2017-10-13 23:15] #305 closed, assigned to Sindorman

[2017-10-14 07:44] hmmwhatsthisdo opened #315 "Localization node fails to launch due to missing "hydrophones/pinger/depth" param"
The localization node is currently failing to launch due to the `hydrophones/pinger/depth` parameter not being defined. I know moving it had been mentioned earlier (and appears to have been implemented with PR #307).

[2017-10-14 20:41] #315 closed, assigned to hmmwhatsthisdo

[2017-10-17 17:30] hmmwhatsthisdo commented on #308
I've also signed up - not sure about Tim though.

[2017-10-17 20:29] skallaher commented on #311
@connor-wool, what kinds of metrics are you planning on using to evaluate the localization? You should know what your tests are testing before defining how to test them.

[2017-10-17 20:36] skallaher commented on #312
Also a note on this subject, there's no harm in having publishers solely for debug/visualization output as if no one subscribes to it, I believe that there is no overhead involved. This also falls along the lines of premature optimization which should be avoided wherever possible. In other words, there is no such thing as outputting too much data.

[2017-10-17 20:41] skallaher opened #317 "Finalize Localization Methods"
## Background
For the past few weeks, the Curiosity team has been tasked with analyzing the previous localization engine as well as a few alternatives.

## Action Required
- [ ] Decide on a method to localize the sub
- [ ] Analyze the amount of work the old system needs and provide a report on goals in the form of issues.

[2017-10-18 00:01] skallaher opened #318 "Finalize Localization Testing"
## Background
The localization system will need to be evaluated and validated using testing.

## Action Required
- [ ] Determine a testing methodology using either gtest (C++) or unittest (Python)
- [ ] Design and document a testing suite for the localization system which will minimize bugs and edge case occurrences during real world testing.

[2017-10-19 02:29] connor-wool commented on #312
Ok, for now, we will focus on trying to add an additional "point" subscription, instead of re-writing the existing. This allows us to non-destructively debug the new output type, and once it's polished we can decide which one we like better.

This issue is low-priority for us though, as the Vector3 seems workable enough to get us by in the initial test stages.

[2017-10-19 02:33] connor-wool commented on #318
My preference would be to run in gtest (C++) just so that we can stay all in one language. But, if there's strong support for the python option, I'd be fine going with that as well.

[2017-10-19 02:51] connor-wool opened #319 "Separate Kalman Filter Calls to test Particle Filter"
I believe that the kalman filter is doing more harm than good in it's current state. Doing some initial tests in the Gazeebo environment with logging from /real/position and /position, small movements with displacement == 0 (but total distance > 0) can throw off the position by +- 5 in both the X and Y directions.

My guess is this is linked to an issue we discussed earlier where integrating the l

[2017-10-19 02:51] skallaher commented on #318
Please use the corresponding library for the language you are using.

[2017-10-19 02:54] connor-wool commented on #311
For the first series of tests, I think that we should simply compare the data being pushed out by /real/position (in Gazeebo) to the data being pushed out by /position.

The hardest part will be determining how "real world" the sensors in our virtualization system are to the real sub. Especially considering the 180 degree drift @ryan-summers saw on the IMU this last weekend.

For now, we'll worry

[2017-10-19 02:57] connor-wool commented on #311
I propose we use the "sum squared" measurement (using data pulled from /real/position and /position) and run initial tests using the keyboard controls.

One of my hopes is that we can find some sequence of movements that helps the sub "recalibrate" the localization if we see it fall below a certain threshold of certainty. Perhaps we can point the sub directly along the vector of the hydrophone rea

[2017-10-19 03:05] connor-wool commented on #311
Just based on quick qualitative testing (viewing the rostopic echo for /real/position and /position) the best method of recalibrating the position is just to keep the sub stationary for a period of 10-15 seconds. All 3 position fields fall within 0.5 of their expected values after about 15 seconds of reading data.

I expect this is because the kalman filter now is not feeding back into the system,

[2017-10-19 03:57] btmoore commented on #311
At the moment, if you want the sub to get the best idea of its position, you would have it hold still while maximizing the differential depth between sub and pinger. That improves the quality of the hydrophone measurements in the presence of noise.

When you get your filters working, movement actually should improve you're localization.

[2017-10-19 06:32] connor-wool commented on #312
Ok, once I looked at how easy it is to do this (publish as a point type) I added it to the code really quick. Closing issue.

[2017-10-19 06:36] connor-wool commented on #310
Moving this to week 10, we can't really enum bugs until we have a testing suite in place.

[2017-10-19 06:39] connor-wool commented on #319
I tried this in one of my commits (1f4f5e0) but it actually made the estimation significantly worse.

Most importantly, my expectation was that when the sub was stationary with the Kalman filter not feeding back into the loop, the accuracy of the estimation would increase. Instead, the estimation would only converge when the sub was in motion (which I expected from the Kalman filter, not the parti

[2017-10-19 06:39] #319 closed, assigned to connor-wool

[2017-10-19 06:49] connor-wool commented on #311
Yeah, that was something that I found out tonight. I was doing some tests, and usually the Kalman filter feeds back into the particle filter. I removed that feedback loop to see the behavior of the particle filter by itself, and it actually was really bad.

TL;DR the code for the actual localization is really good, pretty much complete pending testing and bug-fixes.

I say we switch to testing mod

[2017-10-19 07:02] connor-wool commented on #312
pull request is hung on linter issue, will need some attention still.

[2017-10-19 07:05] connor-wool commented on #317
From my subjective testing, I haven't been able to make any super great improvements in the accuracy of either the Kalman filter or the particle filter. I'd recommend actually building the testing system first, and then tuning the existing code. In addition, we need to get this code running on the sub as soon as possible in a pool test, and let it try to navigate along some points. We have no idea

[2017-10-19 07:05] skallaher commented on #312
Please, in future, do not close issues until the PR solving it has been merged.

[2017-10-19 07:12] hmmwhatsthisdo commented on #312
Related: GH will close issues automatically upon merge if you put specific verbiage referencing the issue in a PR description or commit message associated with a PR. [Documentation here.](https://help.github.com/articles/closing-issues-using-keywords/)

[2017-10-19 07:32] btmoore commented on #311
Does the particle filter have its own update step, where it shifts all the particles based on estimated velocity?  If the Kalman Filter was responsible for substituting that step, then disabling the KF may not be a fair test - it would only prove that he feedback the KF provides was crucial to the PF, not that the KF is working as perfectly as you'd like it to.

That said, if you think your Kalman

[2017-10-19 21:47] connor-wool opened #321 "remove /position/vector publisher from localization"
Now that we have a point being published, we can remove the vector that is publishing location data.

[2017-10-19 21:48] connor-wool opened #322 "rename /real/position to reflect its origin in the simulator"
The naming convention for the /real/position publisher is misleading. We need to rename this so that in the rostopic list it shows up as something like "/simulator/position" so that we know what it is.

[2017-10-23 02:40] hmmwhatsthisdo opened #324 "Conflicting TF coordinates published for cobalt"
When running Gazebo, the RViz bridge, and the Localization engine, the TF-published coordinates of `cobalt` (relative to `world`) jump between the Localization engine's output and the origin point.

[code]
Inside of `rqt`, open a Plot window and add the following topics to the view:
* `/rviz/cobalt/pose/pose/position`
* `/real/position`
* `/tf/transforms[0]/transform/translation`

Instead of match

[2017-10-23 09:12] hmmwhatsthisdo commented on #324
Trial-and-error suggests the `sub_tf_broadcaster` node is publishing the incorrect TF data. Looking at [sub_tf_broadcaster.py](https://github.com/PalouseRobosub/robosub/blob/5b12824860db82ec148dc19e888470c2644f6af1/src/sensors/sub_tf_broadcaster.py) and the rviz launchfile seems to suggest it is indeed setting `cobalt`'s location to be 0 relative to `world`.

At this point, I'm unsure if that broa

[2017-10-25 20:46] irwineffect commented on #324
Yeah, [sub_tf_broadcaster.py](https://github.com/PalouseRobosub/robosub/blob/5b12824860db82ec148dc19e888470c2644f6af1/src/sensors/sub_tf_broadcaster.py) is definitely broadcasting bad data, when I wrote it I just had it report (0,0,0) for the position. At the time, I wasn't aware the localization engine also publishes TF data. I think sub_tf_broadcast.py should take in the position as reported by

[2017-10-25 20:52] irwineffect commented on #248
Have not been able to reproduce, closing for now.

[2017-10-25 20:52] #248 closed, assigned to nobody

[2017-10-25 20:53] irwineffect commented on #292
Implemented by #299

[2017-10-25 20:53] #292 closed, assigned to irwineffect

[2017-10-25 20:59] irwineffect commented on #147
Any nodes that use our [serial.cpp](https://github.com/PalouseRobosub/robosub/blob/9f9850ff039806c22b8797ed0b9e2bb361620f16/src/utility/serial.cpp) class seem to have an unusually high cpu usage, we suspect that the serial class could be optimized somewhere.

[2017-10-25 21:20] skallaher commented on #324
I like the way that @irwineffect suggests to do this. If it doesn't receive a point from localization, we can default to (0, 0, 0) or some other reasonable default.

[2017-10-31 19:28] skallaher commented on #324
@hmmwhatsthisdo, is this fixed by #327?

[2017-10-31 19:30] skallaher commented on #322
Fixed by #327

[2017-10-31 19:30] #322 closed, assigned to nobody

[2017-10-31 19:30] hmmwhatsthisdo commented on #324
Yes, this is - I thought merging #327 would have closed this, but apparently I forgot to reference it in the PR so GH didn't close automatically.

[2017-10-31 19:30] #324 closed, assigned to hmmwhatsthisdo

[2017-10-31 19:32] skallaher commented on #321
@connor-wool, has this been fixed by a recent PR?

[2017-10-31 19:33] skallaher commented on #312
@connor-wool, has this been fixed?

[2017-10-31 19:36] #308 closed, assigned to hmmwhatsthisdo, connor-wool

[2017-10-31 23:17] irwineffect opened #329 "Yaw wrap-around causes velocity spikes"
When the control system calculates its orientation velocity, we have an issue where if the yaw wraps around (e.g. -180 to 180), we get a spike in our velocity. Below is an image showing it occuring in simulation:
<img width="640" alt="yaw_velocity_error" src="https://user-images.githubusercontent.com/3589531/32253131-8d238b5c-be56-11e7-9a26-031f8734ba48.png">

This will cause problems if we use th

[2017-11-01 00:26] daymare commented on #329
We can wrap around the previous value and take the smallest distance from both the previous value and the wrapped value.

[code]

[2017-11-01 17:57] irwineffect opened #330 "Control System Derivative Calculations"
When the control system runs at a significantly faster rate than our orientation sensors, it results in the control system intermittently spitting out zeros for the velocity/derivative, because the calculations run on values that haven't been updated since the last calculation. The control system should be able to gracefully handle this situation by recognizing when the orientation data hasn't cha

[2017-11-02 02:10] btmoore commented on #330
Is there a reason that the control system updates more often than your sensors? I would think the best arrangement would just be for the control system to only be triggered to update upon your localization engine updating (ie, your sensor updating.)

[2017-11-04 06:52] hmmwhatsthisdo commented on #321
This was resolved with #320.

[2017-11-04 06:52] #321 closed, assigned to nobody

[2017-11-04 07:05] hmmwhatsthisdo commented on #312
This issue was resolved with #320.

[2017-11-04 07:05] #312 closed, assigned to nobody

[2017-11-12 02:48] Sindorman opened #334 "Change sensor.launch to use TRAX sensor as default parameter!"

[2017-11-12 02:48] #334 closed, assigned to nobody

[2017-11-12 02:49] Sindorman commented on #290
This is very important!!!

[2017-11-12 02:52] brennanpeter commented on #290
Please

[2017-11-14 00:23] skallaher commented on #290
Fixed by #335

[2017-11-14 00:23] #290 closed, assigned to nobody

[2017-11-14 00:24] skallaher commented on #285
Fixed by PalouseRobosub/rs_yolo#3.

[2017-11-14 00:24] #285 closed, assigned to nobody

[2017-11-15 04:47] hmmwhatsthisdo opened #336 "Conflicting references to sub_tf_broadcaster in rviz.launch and localization.launch"
Attempting to do `roslaunch robosub rviz.launch`, followed by `roslaunch robosub localization.launch` (or _vice versa_) causes one of the two nodes to be killed, due to both of them declaring `sub_tf_broadcaster` as required.

[2017-11-15 08:58] Sindorman commented on #301
To continue @skallaher idea 2. all AI files have implemented `start_switch` as first state.

[2017-11-15 22:51] #336 closed, assigned to hmmwhatsthisdo

[2017-11-30 05:18] Sindorman opened #343 "Control_wrapper has wrong function names"
for example` forwardNone` calls `forwardLeft` instead of `forwardSet`

[2017-12-02 02:05] #343 closed, assigned to Sindorman

[2017-12-02 02:05] Sindorman commented on #343
Closed to due PR that fixes it!

[2018-01-03 19:15] ryan-summers commented on #329
So I did some testing and this actually isn't an error for the D-term. Remember that we aren't taking the derivative of the yaw to get yaw velocity in the control system, but actually the derivative of the yaw's _error_. The error value is properly wrapped, so we don't see these spikes. I've attached a demo of the yaw wrapping with the proper derivative shown (note that this is after I have implem

[2018-01-03 19:15] #329 closed, assigned to nobody

[2018-01-12 00:52] Sindorman opened #352 "Remake every Center State in gate_util.py"
- [x] Basically separate yawing and diving into two different states that will run Concurrently, thus making sub centering faster, and more efficient

[2018-01-19 08:31] Sindorman commented on #352
This is actually solved by changing one of `if else` into `if`. Procs to @ryan-summers

[2018-01-19 08:31] #352 closed, assigned to Sindorman

[2018-01-25 22:25] connor-wool opened #358 "Create Pull Request for MVP Particle Filter Code"
Create a pull request that moves the current particle filter code to master

[2018-01-25 22:28] connor-wool opened #359 "Create visualization for Kalman Filter Gain"
While the Kalman Filter is an important part of our localization system, and the data it provides is used to modify the particle filter, we don't actually know what it's internal state is at runtime.

Completing this will require a couple things be completed. Trivially, a ROS publisher will have to be created within the Kalman Filter class, and then the Kalman filter will need to publish it's inte

[2018-01-25 22:29] hmmwhatsthisdo commented on #358
For reference, the "current particle filter code" is in branch [sean.r.williams/localization/kf_pf_updates](/PalouseRobosub/robosub/tree/sean.r.williams/localization/kf_pf_updates). The branch needs a rebase and PR lodged against `master`, but should be otherwise ready.

[2018-01-27 00:20] skallaher opened #360 "Control System Test Needs Updating"
The current control system tests seem to be written for specific parameters. This should probably be remedied.

[2018-01-29 18:49] ryan-summers opened #361 "Pinger Bearing Node only calculates bearing for one frequency"
The pinger_bearing node should subscribe to all hydrophone frequencies and publish bearings for each of them on their own topics.

[2018-01-29 18:50] ryan-summers commented on #330
Closed due to https://github.com/PalouseRobosub/robosub/pull/349

[2018-01-29 18:50] #330 closed, assigned to nobody

[2018-01-29 19:09] ryan-summers opened #362 "Torpedo and Marker Dropper Service Calls Do Not Return"
The torpedo shooter and marker dropper service calls should return a boolean to indicate success or fail on firing. They could fail if there were no projectiles or markers left.

[2018-01-30 02:22] connor-wool opened #365 "Define Localization MVP Milestones for Semester 2"

[2018-01-30 02:24] connor-wool opened #366 "Define pool-test localization system test procedure"
The localization group has a pool test scheduled for the weekend of Feb 1. We need to decide how we're going to measure the real-world location of the sub during the pool test, and how we're going to synchronize this data with the onboard ROS timing system.

[2018-01-30 02:24] connor-wool opened #367 "Increase amount of time that localization system is accurate without pinger data"
Better Kalman Filter accuracy will increase our dead-reckoning accuracy. For this reason, we may be looking into how and from where the Kalman Filter reads velocity data.

In addition, implementing the bottom-facing camera may improve the ability of the Kalman Filter to accurately detect velocity, or at least the states of zero and non-zero velocity.

[2018-01-30 02:24] connor-wool opened #368 "Increase number of sources of velocity data supplied to Kalman Filter"
Currently, our Kalman Filter is using only 1 or 2 (needs citation) sources of data for its velocity measurement. By increasing this, we can make our Kalman Filter more accurate, and increase the time during which our resolution is accurate to within our stated goal (1 m).

[2018-01-30 02:30] connor-wool opened #369 "Increase sensor noise failure threshold"
The current simulation seems to work, but we don't know how increasing the noise from the sensors will affect the system.

First, we should determine the noise threshold that causes our system to fail (resolution > 1m).

Second, we should work to raise this threshold; that is, modify the parameters or processes so that the localization system can still work somewhat accurately even when sensor noi

[2018-01-30 02:40] connor-wool opened #371 "Implement bottom-facing-camera velocity detection"
Using the bottom-facing-camera and machine learning video software (PIDIC?) we would like to measure velocity, or at least if velocity is non-zero or zero.

This will require reading in the image feeds off of the robosub system, learning how to hand these image feeds into our vision system, and how to get the vision system to output a final value for velocity.

This will help improve Kalman Filter

[2018-01-30 02:50] connor-wool commented on #317
@skallaher I think this guy is ready to be closed.

[2018-01-30 02:55] connor-wool commented on #365
Finished.

[2018-01-30 02:55] #365 closed, assigned to connor-wool

[2018-01-30 03:52] #317 closed, assigned to hmmwhatsthisdo, connor-wool

[2018-01-31 04:53] ryan-summers commented on #296
This has been rectified by The Purge. https://github.com/PalouseRobosub/robosub/pull/372

[2018-01-31 04:53] #296 closed, assigned to nobody

[2018-01-31 04:55] ryan-summers commented on #47
PlatformIO has been selected as the defacto tool. Closing for now unless further discussion is warranted.

[2018-01-31 04:55] #47 closed, assigned to nobody

[2018-02-01 22:21] connor-wool opened #375 "Update localization system documentation on wiki"

[2018-02-01 22:22] connor-wool opened #376 "Update Kalman Filter to read acceleration from control system"

[2018-02-02 03:35] hmmwhatsthisdo commented on #358
Now that the PR is "made" per-se, I think we can close this.

[2018-02-03 16:51] ryan-summers commented on #358
Please keep issues open until the PR is merged in.

[2018-02-03 16:54] ryan-summers commented on #301
I believe we have had a slow progression in launch system development. After the vision purge, sensors launch update, and undistortion updates, a unified cobalt.launch file is proposed in https://github.com/PalouseRobosub/robosub/pull/380 that merges in vision launch (cameras + undistortion), movement (control + thrusters), and parameter loading.  None of these nodes are typically stopped and rest

[2018-02-03 16:55] ryan-summers commented on #284
This has been implemented in vision_dev. There's now a script that allows a user to progress through a dataset and assign a status of 'Good' or 'Bad'. Then, a script can remove tags with a 'bad' label. Datasets are now routinely sanitized.

[2018-02-03 16:55] #284 closed, assigned to brennanpeter

[2018-02-03 16:59] ryan-summers commented on #260
The current discussion of breaking up the cobalt parameter file is best served for another issue (I'm in favor of keeping it as is, now that we have purged some of the params - James makes a good point about having zero confusion over the param files). Additionally, I believe having multiple param files may just cause confusion when launching sub software. Separate param files shoud be used typica

[2018-02-03 16:59] #260 closed, assigned to nobody

[2018-02-03 17:01] ryan-summers commented on #273
For context, the TRAX _is_ able to provide temperature. Are we still interested in reporting this?

[2018-02-03 17:01] ryan-summers commented on #286
Closing this issue for now as the data isn't necessary for AI development.

[2018-02-03 17:01] #286 closed, assigned to nobody

[2018-02-03 17:03] ryan-summers commented on #77
I don't think we want to have this in our CI builds as we are working on active AI development

[2018-02-03 17:03] #77 closed, assigned to Sindorman

[2018-02-03 18:56] ryan-summers commented on #215
It is not currently believed to be possible to speed up the current CI build.

[2018-02-03 18:56] #215 closed, assigned to nobody

[2018-02-04 17:47] ryan-summers commented on #301
Merged in with https://github.com/PalouseRobosub/robosub/pull/380

[2018-02-04 17:47] #301 closed, assigned to brennanpeter

[2018-02-08 21:07] trice9595 opened #384 "Test localization in simulation without pingers"

[2018-02-08 21:11] trice9595 opened #385 "Experiment with Kalman Filter Parameters"
Learn how changing different parameters affects localization performance

[2018-02-08 21:44] trice9595 opened #386 "Integrate IMU data for position estimate"

[2018-02-11 06:13] hmmwhatsthisdo commented on #360
In a similar vein, it appears that the current time-out of 120 seconds may be too short to guarantee the control system test passes - especially because the time-out is based on real time and not the simulator's (dilated) time. The VM on my 810 is currently unable to run tests as a result unless I push the time-out to 180 seconds. (I'm not 100% sure of the reason behind this, but it's possibly a r

[2018-02-11 23:27] irwineffect commented on #360
@skallaher, are you referring to the issue @hmmwhatsthisdo is talking about or something else?

[2018-02-12 04:59] skallaher commented on #360
@irwineffect, I was referencing a conversation I had with either you or @ryan-summers about the control system test being optimized for a specific set of PID parameters. I can't remember enough of the details at the moment.

[2018-02-13 02:30] TimRice9595 opened #391 "Integrate Frequency Tests into Automated Build"
hztests were created to verify frequency of published data. These need to be integrated into the automated build so they run automatically.

[2018-02-13 02:32] #391 closed, assigned to nobody

[2018-02-13 02:37] trice9595 opened #392 "Add Localization HzTests to Automated Build"
hztests were created to verify frequency of published data. These need to be integrated into the automated build so they run automatically.

[2018-02-13 05:21] ryan-summers opened #393 "Migrate all nodes to use the robosub_msgs"
All robosub messages have been collected into the new robosub_msgs package (https://github.com/PalouseRobosub/robosub_msgs). All of the current nodes need to be migrated to use this new package, travis needs to be updated to pull in the new package, and remove messages from the current robosub repository (as well as the rs_yolo and robosub_simulator repositories).

[2018-02-15 21:21] trice9595 opened #395 "Calculating linear acceleration from Trax using vector calculus"

[2018-02-15 21:22] trice9595 commented on #395
We discussed this during our meeting on 2/12. I am unsure of the details of this. I added it to the backlog because it may be necessary and we should keep it in mind.

[2018-02-16 00:26] btmoore commented on #395
As a general notice, I have all of the math worked out for all of the different sensors.  Let me know if you guys get stuck on figuring anything out.

The matrix form for accelerometers is here under 'total matrix': http://robosub.eecs.wsu.edu/wiki/cs/localization/sensors/start#total_matrix

The accelerations felt by the accelerometer is a combination of four distinct phenomena.  The translational

[2018-02-16 00:30] hmmwhatsthisdo commented on #395
@btmoore. I think the problem @trice9595 was referencing was that the Trax IMU does not, in its current state, provide the same sort of acceleration data (if at all) that the BNO nodes had exposed previously.

@ryan-summers, can you provide more details on what is/n't possible with the Trax IMUs? I thought you had mentioned previously that they can provide information about distortion of the gravi

[2018-02-16 23:51] ryan-summers commented on #395
All information available on how the TRAX operates and what is possible is available [here](https://www.tri-m.com/products/trim/spec-sheets/TRAX_User_Manual_r08.pdf).

You will need to modify https://github.com/PalouseRobosub/robosub/blob/master/src/sensors/PniTrax.cpp and submit a pull request to add in the functionality you want. I would be happy to review it. Additionally, you can test code liv

[2018-02-17 01:03] ryan-summers commented on #393
PR: https://github.com/PalouseRobosub/robosub/pull/396

[2018-02-18 21:15] #358 closed, assigned to hmmwhatsthisdo

[2018-02-19 17:28] ryan-summers commented on #360
Can we please clarify this issue to say that the overshoot and standard deviations allowed in the control system unit test need to be relaxed? I don't think that has been explicity stated anywhere here.

[2018-02-19 17:28] irwineffect commented on #360
Oh...... we just need to set more sane requirements for the control system test. The goal of the test is simply to ensure that people don't make changes that radically affect the performance of the control system, not to prevent people from trying out different tunings. So we just need to lax the requirements to more reasonable values.

[2018-02-19 17:38] ryan-summers commented on #360
https://github.com/PalouseRobosub/robosub/pull/397

[2018-02-28 16:59] ryan-summers commented on #393
Merged.

[2018-02-28 16:59] #393 closed, assigned to nobody

[2018-02-28 22:49] connor-wool commented on #376
The current acceleration values for Cobalt are already being calculated in the control system as `m_accel`. We can add this Vector6 to the `control_status` topic, which we can then read from the Kalman Filter. This provides us with a pretty good estimate of linear acceleration to stuff into the Kalman Filter. Hopefully, this will replace our dependence (or at least reduce it) on the BNO and TRAX s

[2018-02-28 23:04] connor-wool commented on #376
Relevant files:

`m_accel` is calculated on line 590 of file `control_system.cpp` but it doesn't look like the lifetime of the variable is just for the function call.

`getControlStatus()` (line 708) is responsible for creating the `robosub_msgs::control_status` message that is published on the `control_status` topic.

I'm still trying to figure out where the `control_status.msg` file is hiding

[2018-02-28 23:07] skallaher commented on #376
@connor-wool, look at [control_status.msg](https://github.com/PalouseRobosub/robosub_msgs/blob/master/msg/control_status.msg)

[2018-02-28 23:19] connor-wool commented on #376
@skallaher Haha, that explains why I couldn't find them in the robosub repo. I thought I was going crazy.

[2018-03-01 00:27] btmoore commented on #376
Just a fair warning: the forces from the thrusters as information can be useful in your Kalman filter - but you shouldn't rely on those values for acceleration.  The control system works because it's set-up is robust to the actual system values.  Fundamentally, it decides it wants to move or spin in a direction, and increases power in that direction until it's satisfied.  Correspondence to real va

[2018-03-15 07:03] Sindorman commented on #146
Seems like this has been achieved

[2018-03-15 07:03] #146 closed, assigned to nobody

[2018-03-24 05:30] connor-wool opened #403 "Travis CI Tests Inconsistently pass/fail code changes"
During the process of getting my pull request ready (#402) I've submitted a number of different commits, each of which triggers the Travis CI system to rebuild the solution, then run the linter and the test system.

When I submitted commit `b41dba6` Travis CI ran the tests and a portion of the control system failed, which led me to believe that I had caused an issue with the operation of the contr

[2018-03-24 05:31] connor-wool commented on #310
Closing, we've moved past this.

[2018-03-24 05:31] #310 closed, assigned to connor-wool

[2018-03-24 05:33] connor-wool commented on #368
This is being done with pull request #402, which adds in acceleration data from the control system. It's not an ideal way of doing things since it could create a self-reinforcing error without outside data, but at the very least it provides some data about the *intentions* of the sub when no other data is available.

[2018-03-24 07:17] bkallaher commented on #403
Based on the failure you reference it seems to be a problem with boost not being able to get a mutex lock. This could just be how ROS Test kills a subprocess on timeout. The other case is that the lock failure causes the test to hang until the timeout is triggered by ROS Test. The only way to test which one it is right now is to watch the output of tests manually until a failure is seen.

There is

[2018-03-24 20:34] connor-wool commented on #403
Ok, that's what I was wondering, I've never worked with boost before so there's a lot of it that's still confusing.

I re-wrote part of the PR that I made because I thought the issue might be with how boost wanted to handle the copy of a data member (ie. the mutex lock error was caused by how I was trying to access and copy data). Seems like it might actually be two separate issues, but oh well, t

[2018-04-10 23:35] Sindorman opened #408 "Synchronize Jetson and NUC time properly"
The `hacky` way to do it is to run `sudo date --set="$(ssh user@cobalt date)"` on Jetson in one of the launch files. But we need a better long term solution, @irwineffect suggests to find solution using either [chrony](https://chrony.tuxfamily.org/) or NTP

[2018-04-11 19:09] neprotalis commented on #408
I got them syncd. They are now both in the same time zone.

[2018-04-11 19:09] #408 closed, assigned to nobody

[2018-07-30 22:34] #311 closed, assigned to connor-wool

[2018-07-30 22:34] #318 closed, assigned to hmmwhatsthisdo, connor-wool

[2018-07-30 22:35] #376 closed, assigned to connor-wool

[2018-07-30 22:35] #386 closed, assigned to hmmwhatsthisdo